@font-face {
	font-family: "<%= fontName %>";
	src: url('<%= fontPath %><%= fontName %>.eot');
	src: url('<%= fontPath %><%= fontName %>.eot?#iefix') format('eot'),
	  url('<%= fontPath %><%= fontName %>.woff2') format('woff2'),
	  url('<%= fontPath %><%= fontName %>.woff') format('woff'),
	  url('<%= fontPath %><%= fontName %>.ttf') format('truetype'),
	  url('<%= fontPath %><%= fontName %>.svg#<%= fontName %>') format('svg');
	font-weight: normal;
	font-style: normal;
  }

  .<%= className %> {
	  position: relative;
    display: inline-block;
    vertical-align: middle;
    font-family: "<%= fontName %>" !important;
    speak: none;
    font-style: normal;
   font-weight: normal;
   font-variant: normal;
   text-transform: none;
   line-height: 1;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
	transform: translateY(-2px);
  }
  
  .<%= className %>:before {
	display: inline-block;
	font-family: "<%= fontName %>";
	font-style: normal;
	font-weight: normal;
	vertical-align: top;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  }
  
  <% _.each(glyphs, function(glyph) { %>.<%= className %>-<%= glyph.name %>:before { content: "\<%= glyph.unicode[0].charCodeAt(0).toString(16).toUpperCase() %>" }
  <% }); %>
  