.ms_UL {
  font-family: 'Montserrat';
  font-weight: 200;
}

.ms_L {
  font-family: 'Montserrat';
  font-weight: 300;
}

.ms_R {
  font-family: 'Montserrat';
  font-weight: 400;
}

.ms_M {
  font-family: 'Montserrat';
  font-weight: 500;
}

.ms_B {
  font-family: 'Montserrat';
  font-weight: 700;
}
