@import "../js/plugins/owl-carousel/assets/owl.carousel.min.css";
@import "../js/plugins/lightpicker/lightpick.css";
@import "../js/plugins/select2/css/select2.min.css";
@import "../js/plugins/lightgallery/css/lightgallery.min.css";
@import "../js/plugins/lightslider/css/lightslider.min.css";
@import "./reset/reset.scss";
@import "./variables/variables.scss";
@import "./fonts/fonts.scss";
@import "./icons/icons.scss";

.clearfix:before, .clearfix:after { display: table; content: ""; }
.clearfix:after { clear: both; } 

body {
	&.menuIn {position: fixed; top: 0; left: 0;}
	&.countrySelectPage {
		.headerInputsBox .inputBox.searchBox {display: none;}
		.mainNavBox {height: 50px;}
		.mainNav {display: none;}
		.pageContent.subPageContent {padding: 70px 0 40px;}
		.headSearchBox {display: none;}
		.countrySelector {display: none;}
	}
}

.container {width: 1140px; max-width: calc(100% - 40px); margin: 0 auto; }

.dropdownParent {position: relative;
	.dropdown {position: absolute; display: none; top: 100%; right: 0; border-radius: 5px; background: white; box-shadow: 0px 10px 20px 0 rgba(0, 0, 0, 0.2); z-index: 15;}
	.mainNav &:not(.helloNachbarn) {position: static;
		.dropdown {width: 100%; right: auto; left: 0; padding: 20px;}	
	}
	&.hoverOpen:hover {
		.dropdown {display: flex;}
		&.helloNachbarn .dropdown {display: block;}
	}
}

.headerPopup {position: absolute; display: none; width: 200px; top: calc(100% + 3px); padding: 20px; background: $green; border-radius: 8px; box-shadow: 0px 10px 30px 0 rgba(0, 0, 0, 0.3);
	p {max-width: 110px; @extend .ms_R; font-size: 16px; line-height: 20px; color: white;}
	&.cityPopup {right: 0;
		img {margin-left: 20px;}
	}
	&.datePopup {left: 0;
		img {margin-right: 20px;}		
	}
}

.lightpick {padding: 40px; box-shadow: 0px 10px 20px 0 rgba(0, 0, 0, 0.2);
	> h3 {margin-bottom: 35px; @extend .ms_R; font-size: 26px; line-height: 28px; color: $primary;}
}
.lightpick__inner {position: relative;}
.lightpick__toolbar {position: absolute; display: block; width: 100%;
	button {width: 36px; height: 36px; margin: 0; padding-top: 5px; background: transparent; border: 1px solid #cfd5de; border-radius: 4px;
		i {color: $dGrey;}
		&.lightpick__previous-action {float: left;}
		&.lightpick__next-action {float: right;}
	}
}
.lightpick__months {grid-gap: 24px; background: transparent;}
.lightpick__month {padding: 0;
	&:nth-child(odd) {
		.lightpick__month-title-bar {padding-left: 42px;}
	}
	&:nth-child(even) {
		.lightpick__month-title-bar {padding-right: 42px; justify-content: flex-end;}
	}
}
.lightpick__month-title {margin: 6px 0 0 0; padding: 0;
	> .lightpick__select {width: auto; height: auto; padding: 0; @extend .ms_R; font-size: 16px; line-height: 18px; color: $primary; text-align: left;
		option {width: 0; padding: 0 !important;}
	}
} 
.lightpick__days-of-the-week {margin: 18px 0 5px}
.lightpick__day-of-the-week {@extend .ms_R; font-size: 10px; line-height: 16px; color: #B5B6B5;}
.lightpick__day {margin: -1px 0 0 -1px; border: 1px solid #E5E8E8; @extend .ms_R; font-size: 12px; line-height: 16px;}
.lightpick__day.is-today {background: transparent; color: $green;}
.lightpick__day.is-previous-month, .lightpick__day.is-next-month {opacity: 0;}
.lightpick__day.is-start-date.is-in-range, .lightpick__day.is-end-date.is-in-range.is-flipped {background: #019847; border-radius: 0;}
.lightpick__day.is-end-date.is-in-range, .lightpick__day.is-start-date.is-in-range.is-flipped {background: #019847; border-radius: 0;}
.lightpick__day.is-in-range {background: #63BF8E; border-color: #41B277; color: white;}
.lightpick__toolbar button {position: relative; z-index: 2;
	i {position: relative; z-index: -1;} 
}
.lightpick__month {width: 245px;}
.lightpick__day {height: 36px;}

.lSSlideOuter {position: relative; z-index: 5;}

// BOOTSTRAP MODAL BEGIN

.fade { opacity: 0; -webkit-transition: opacity 0.3s ease-in-out; -o-transition: opacity 0.3s ease-in-out; transition: opacity 0.3s ease-in-out;
	&.in { opacity: 1; }
 }
 
 .modal-backdrop { position: fixed; top: 0; right: 0; bottom: 0; left: 0; z-index: 9; background-color: #000;
	&.fade { opacity: 0; filter: alpha(opacity=0); }
	&.in { opacity: 0.9; filter: alpha(opacity=90); }
 }
 
 .modal { z-index: 10; overflow: hidden; -webkit-overflow-scrolling: touch; position: fixed; top: 0; right: 0; bottom: 0; left: 0; display: none; cursor: pointer; outline: 0;
	&.fade .modal-dialog { -webkit-transition: -webkit-transform 0.3s ease-in-out; -moz-transition: -moz-transform 0.3s ease-in-out; -o-transition: -o-transform 0.3s ease-in-out; transition: transform 0.3s ease-in-out; }
 }
 .modal-dialog { cursor: default; }
 
 .modal-content { position: relative; background-color: #FFF; -webkit-background-clip: padding-box; background-clip: padding-box; outline: 0; }
 
 .modal-open { overflow: hidden;
	.modal { overflow-x: hidden; overflow-y: auto; }
 }

// HEADER

.pageHeader {position: relative; z-index: 15;
	&.fixPos {position: fixed; width: 100%; top: 0; left: 0;}
}

.mainHeader {position: relative; padding: 12px 0; background: white; z-index: 6;}

.mainLogo {float: left; margin-top: 2px;
	img {vertical-align: top;
		&.mobileLogo {display: none;}
	}
}

.menuOpen {position: absolute; display: none; top: 22px; left: 20px; padding: 7px 0; z-index: 10;
	span {position: relative; display: block; width: 20px; height: 2px;  background: white;
		&:before, &:after {position: absolute; left: 0; width: 100%; height: 2px; background: white; content: "";}
		&:before {top: -7px;}
		&:after {bottom: -7px;}
	}
	.menuIn & {
		span {background: transparent !important;
			&:before {top: 0; transform: rotate(45deg);}
			&:after {bottom: 0; transform: rotate(-45deg);}
		}
	}
}

.countrySelector {float: left;  margin: 10px 0 0 15px;
	i {font-size: 20px; color: $dGrey;}
}

.menuBox {position: fixed; display: none; top: 0; left: 0; width: 100%; min-height: 100vh; background: #f8f8f8; z-index: 9;
	header {padding: 16px 20px 19px; background: $green; text-align: center;
		img {width: 175px;}
	}
	.menuIn & {display: block;}
	.itsMeBox {padding: 10px 20px;
		h4 {margin-bottom: 0; font-size: 20px;}
	}
}

.mobileMenu {margin-bottom: 20px;
	li {border-bottom: 1px solid #cfd5de;
		&:last-child {border-bottom: 0;}
	}
	a {display: flex; padding: 14px 20px; background: white; @extend .ms_R; font-size: 14px; line-height: 20px; color: $primary; justify-content: space-between; transition: color 0.2s ease-in-out;
		i {position: relative; top: 6px; color: $green;}
		&:hover {color: $green;}
	}
	&:last-child {margin-bottom: 0;}
}

.headerActions {float: right;}

.headerActions {display: flex;
	> div {height: 36px; margin-left: 20px; padding-left: 20px; border-left: 1px solid #cfd5de;
		&:first-child {margin-left: 0; border: 0;}
	}
}

.headerInputsBox {display: flex;
	.inputBox {position: relative; width: 150px; margin-right: 10px; margin-bottom: 0; z-index: 2;
		input {padding-left: 30px; background: transparent;}
		> i {position: absolute; top: 12px; left: 5px; font-size: 16px; color: $dGrey; z-index: -1;
			&.icon-cancel {display: none; right: 5px; left: auto; cursor: pointer; z-index: 5; transition: color 0.2s ease-in-out;
				&:hover {color: $pink;}
			}
		}
		&.locBox {width: 140px; }
		&.searchBox {width: 250px;}
		&:last-child {margin-right: 0;}
	}
}

.locBox {position: relative; background: white; z-index: 0;
	i {position: absolute; top: 12px; left: 5px; font-size: 16px; color: $dGrey; z-index: -1;
		&.icon-cancel {display: none; right: 5px; left: auto; cursor: pointer; z-index: 5; transition: color 0.2s ease-in-out;
			&:hover {color: $pink;}
		}
	}
	.select2-container--default .select2-selection--single .select2-selection__arrow {display: none;}
}



.usableDateBox {
	&.active {
		> i {color: white; z-index: 2;}
		#usableDatePicker {background: $green; border-color: $green; color: white;}
	}
}

.usableDatePickerDropdown { padding: 40px;
	> h3 {margin-bottom: 35px; @extend .ms_R; font-size: 26px; line-height: 28px; color: $primary;}
}

.headSearchBox {display: none;
	> a {position: relative; display: inline-block; margin-top: 10px; cursor: pointer;
		i {font-size: 21px; color: white;}
	}
}

.savedOffersBox {position: relative;
	> a {position: relative; display: inline-block; margin-top: 10px; cursor: pointer;
		i {font-size: 21px; color: $dGrey; transition: color 0.2s ease-in-out;}
		&:hover i {color: $green;}
	}
	&.active {
		i {color: $green;}
	}
}

.savedOffersDropdown {top: calc(100% + 15px) !important; right: -25px !important; width: 500px; padding: 25px 20px 20px; 
	> h3 {margin-bottom: 20px; @extend .ms_R; font-size: 26px; line-height: 28px; color: $primary;}
	&:before {position: absolute; top: 0; right: 20px; width: 0; height: 0; border-style: solid; border-width: 0 13px 13px 13px; border-color: transparent transparent #ffffff transparent; transform: translate(0,-100%); content: "";}
}

.loginBox {position: relative;
	> a {position: relative; display: inline-block; margin-top: 11px; cursor: pointer; transition: color 0.2s ease-in-out;
		&:hover {color: $green;
			i {color: $green;}
		}
		i {font-size: 22px; color: $dGrey; transition: color 0.2s ease-in-out;}
	}
	&.active {
		i {color: $green;}
	}
}

.profileDropdown {width: 310px; top: calc(100% + 15px) !important; right: -25px !important; padding: 25px 20px;
	&:before {position: absolute; top: 0; right: 20px; width: 0; height: 0; border-style: solid; border-width: 0 13px 13px 13px; border-color: transparent transparent #ffffff transparent; transform: translate(0,-100%); content: "";}
}

.itsMeBox {
	h4 {margin-bottom: 8px; @extend .ms_R; font-size: 26px; line-height: 28px; color: $primary;}
	p {@extend .ms_R; font-size: 14px; line-height: 16px; color: $dGrey;}
}

.profileMenu {margin-top: 20px; padding-top: 20px; border-top: 1px solid #cfd5de;
	li {margin-top: 25px;
		&:first-child {margin-top: 0;}
		&.logoutLink {margin-top: 20px; padding-top: 20px; border-top: 1px solid #cfd5de;}
	}
	a {@extend .ms_R; font-size: 16px; line-height: 18px; color: $primary; cursor: pointer; transition: color 0.2s ease-in-out;
		&:hover {color: $green;}
	}
}

.loginLink {display: inline-block; margin-top: 10px; @extend .ms_R; font-size: 14px; line-height: 16px; color: $primary;}

.toTheCartBox {position: relative;
	a {position: relative; display: inline-block; margin-top: 10px; cursor: pointer;
		&:hover i {color: $green;}
	}
	i {font-size: 21px; color: $dGrey; transition: color 0.2s ease-in-out;}
}

.badge {position: absolute; top: -2px; right: -3px; padding: 3px 6px; background: $pink; border-radius: 9px; @extend .ms_R; font-size: 10px; line-height: 12px; color: white; transform: translate(50%,-50%);}

.mainNavBox {position: relative; background: $green; z-index: 5;}

.mainNav {position: relative;
	> ul > li {float: left; padding: 17px 0; margin-right: 28px;
		&:first-child {float: left;}
		&:last-child {float: right; margin: 0; padding: 10px 0 0;}
		> a {@extend .ms_R; font-size: 14px; line-height: 16px; color: white; cursor: pointer; transition: opacity 0.2s ease-in-out;
			&:hover {opacity: 0.7;}
		}
		&.active > a {opacity: 0.7;}
	} 
}

.subCatDropdown {
	> div {width: 50%;
		&:first-child {border-right: 1px solid #cfd5de;}
		&:last-child {padding-left: 20px;}
	}
	.active & {display: flex !important;}
}

.subCatMenu {column-count: 2;
	li {margin-bottom: 20px;
		&:last-child {margin-bottom: 0;}
	}
	a {@extend .ms_R; font-size: 14px; line-height: 16px; color: $dGrey; cursor: pointer; transition: color 0.2s ease-in-out;
		&:hover {color: $green;}
	}
	.active a {@extend .ms_B; color: $green;}
}

.helloNachbarn {position: relative;
	&:hover {
		.helloNachbarnBtn {background: white; color: $green; opacity: 1;
			i {color: $green;}
		}
	}
	&.active {
		.helloNachbarnBtn {background: white; color: $green; opacity: 1;
			i {color: $green;}
		}
	}
}

.helloNachbarnBtn {display: block; padding: 10px 10px 6px !important; border: 1px solid white; border-radius: 4px; cursor: pointer; transition: all 0.2s ease-in-out;
	i {position: relative;  margin-left: 5px; font-size: 5px; color: white; transition: color 0.2s ease-in-out;}
}

.nachbarnDropdown { width: 330px; padding: 15px 10px 20px; 
	> p {margin-bottom: 20px; @extend .ms_R; font-size: 12px; line-height: 16px; color: $primary;}
	img {display: block; width: 100%; height: auto; margin-bottom: 10px;}
}

.btn {display: inline-block; min-width: 170px; padding: 12px 25px; border-radius: 4px; @extend .ms_B; font-size: 14px; line-height: 16px; text-align: center; cursor: pointer; transition: all 0.2s ease-in-out;
	&.greenBtn {background: $green; color: white;
		&:hover {color: rgba(255,255,255,0.8);}		
	}
	&.whiteBtn {background: white; color: $dGrey;}
	&.greyBtn {border: 1px solid $dGrey; color: $dGrey;
		&:hover {background: $dGrey; color: white;}
	}
	&.block {display: block; width: 100%;}
	&.rounded {border-radius: 20px;}
	&.remove {
		&:hover {background: $pink; border-color: $pink; color: white;}
	}
	&.disabled {opacity: 0.5; pointer-events: none;}
}

// HEADER

.pageContent {position: relative; padding: 30px 0 90px; background: #f8f8f8; z-index: 1;}

.offersAndArticlesBox {display: flex;
	.offersWrapper {width: calc(100% - 290px);}
	.articlesWrapper {width: 290px; padding-left: 75px;}
}

// COUNTRY SELECT

.countryBox {display: flex; width: calc(100% + 30px); flex-wrap: wrap;}
.countryItem {width: calc(33.3333% - 30px); margin-right: 30px; margin-bottom: 30px; border-radius: 8px; box-shadow: 0px 2px 6px 0 rgba(0, 0, 0, 0.1); overflow: hidden;
	.imgBox img {width: 100%;}
}
.countryBody {padding: 20px; background: white;
	h3 {margin-bottom: 20px; font-family: "Montserrat"; font-weight: bold; font-size: 16px; line-height: 20px; color: #454f63; text-align: center;}
}

// MAINCARO

.caroSection {margin-bottom: 30px;}

.owl-dots {display: flex; margin-top: 10px; justify-content: center;}

.owl-dot {margin-right: 15px; width: 10px; height: 10px;
	span {display: block; width: 100%; height: 100%; background: #cfd5de !important; border-radius: 50%; transition: background 0.2s ease-in-out;}
	&.active span {background: $green !important;}
	&:last-child {margin-right: 0;}
}

#mainCaro.owl-carousel .owl-item img {width: auto !important;} 

// MAINCARO

// OFFERS

.mainOffersSection {position: relative; z-index: 2;}

.mainOffersBox {display: flex; width: calc(100% + 30px); margin-bottom: 30px; justify-content: space-between;
	.mainOffersSection & {display: block; width: 100%; margin-bottom: 0;
		&.owl-carousel .owl-stage-outer {width: calc(100% + 20px); margin: 0 0 0 -10px; padding: 0 10px 30px;}
	}
}

.lSSlideOuter .lSPager.lSpg {position: absolute; width: 100%; bottom: 10px; left: 0; margin-top: 0 !important; z-index: 20;
	> li a {background: #cfd5de;}
}
.lSSlideOuter .lSPager.lSpg > li.active a, .lSSlideOuter .lSPager.lSpg > li:hover a {background: $green;}

.offersBox {display: flex; width: calc(100% + 30px); flex-wrap: wrap; justify-content: flex-start;}

.subOffers, .seenOffers {margin-top: 95px;
	.offersBox {width: 100%; 
		&.owl-carousel .owl-stage-outer {width: calc(100% + 20px); margin: 0 0 0 -10px; padding: 0 10px 30px;}
	}
	> h5 {margin-bottom: 15px; @extend .ms_R; font-size: 20px; line-height: 24px; color: $dGrey;}
}

.seenOffers {margin-top: 40px;}

.offerItem {position: relative; display: block; width: calc(33.3333% - 30px); margin-right: 30px; background: white; border-radius: 8px; box-shadow: 0px 2px 6px 0 rgba(0, 0, 0, 0.1); transition: box-shadow 0.4s ease-in-out;
	
	.hoverBox {position: absolute; display: none; top: calc(100% - 5px); left: 0; padding: 15px 10px 10px; background: white; border-bottom-left-radius: 8px; border-bottom-right-radius: 8px; box-shadow: 0px 16px 15px 0px rgba(0, 0, 0, 0.3); z-index:11;
		p {@extend .ms_R; font-size: 12px; line-height: 20px; color: $primary;}
	}

	.imgBox {position: relative; border-top-right-radius: 8px; border-top-left-radius: 8px; overflow: hidden;
		img {display: block; width: 100%; height: auto; transition: all 0.4s ease-in-out !important;}
	}
	.textBox {padding: 12px;
		h4 {@extend .ms_B; font-size: 16px; line-height: 20px; color: $primary; text-align: left; transition: color 0.2s ease-in-out;}
	}
	
	.distanceBox {position: absolute; right: 12px; bottom: 12px;
		span {@extend .ms_R; font-size: 14px; line-height: 16px; color: $dGrey;}
	}
	.saveOffer {margin-left: 7px; cursor: pointer;
		i {font-size: 20px; color: $dGrey; transition: color 0.2s ease-in-out;}
		&:hover i {color: $green;}
		&.saved {
			i {color: $green;}
			&:hover i {color: $pink;}
		}
	}
	.offersWrapper & {margin-bottom: 30px;}

	
	.savedOffersList & {display: flex; width: 100%; box-shadow: none;
		.discountBox {border-radius: 0;}
		.imgBox {width: 160px; border-radius: 0;
			img {min-height: 110px;}
		}
		.textBox {width: calc(100% - 160px); padding: 0 25px 0 20px;
			h4 {min-height: 60px;}
		}
		.offerPriceBox {margin-top: 5px;}
	}
	.vouchersTable &, .basketTable & {display: flex; width: 100%; margin-right: 0; box-shadow: none;
		.discountBox {padding: 10px 8px; border-radius: 0;
			p {font-size: 12px; line-height: 14px; }
		}
		.imgBox {width: 110px; border-radius: 0;
			img {min-height: 80px;}
		}
		.textBox {width: 280px; padding: 0 25px 0 20px;
			h4 {min-height: 50px; margin-bottom: 14px;}
		}
	}
	.listView & {width: calc(25% - 30px);}
	.subOffers & {width: calc(25% - 30px);}
	.subPageAside .subOffers & {width: 100%; margin-right: 0; margin-bottom: 30px;
		&:last-child {margin-bottom: 0;}
	}
	&.bigItem {width: calc(50% - 30px);}
	&.typeAd {background: transparent; border-radius: 0; box-shadow: unset;
		&:hover {box-shadow: unset;
			.textBox h4 {color: $green;}
		}
		.imgBox {border-radius: 0;}
		> p {position: absolute; width: 100%; bottom: 0; left: 0; @extend .ms_R; font-size: 14px; line-height: 16px; color: $green; text-align: center;}
	}
	&.typeSeasonable {
		.imgBox {height: 100%; border-radius: 8px;
			img {min-width: 100%; min-height: 100%;}
		}
		.textBox {position: absolute; width: 100%; bottom: 0; left: 0; padding-top: 30px; padding-bottom: 30px; background: rgba(0,0,0,0.3); border-bottom-right-radius: 8px; border-bottom-left-radius: 8px;
			h4 {font-size: 24px; line-height: 30px; color: white;}
		}
	}
	.subCatDropdown & {width: calc(50% - 25px); margin-right: 20px;
		.imgBox {height: 100%; border-radius: 8px;
			.imgCaroBox {display: flex; justify-content: center;}
			img {width: auto; min-width: 0; min-height: 255px;}
		}
		.textBox {position: absolute; width: 100%; bottom: 0; left: 0; padding-top: 10px; padding-bottom: 10px; background: rgba(0,0,0,0.3); border-bottom-right-radius: 8px; border-bottom-left-radius: 8px; z-index: 10;
			h4 {font-size: 14px; line-height: 20px; color: white;}
		}
	}

	.imgCaroBox {display: block;}
	.owl-dots {position: absolute; width: 100%; bottom: 10px; left: 0;} 

	&:hover {box-shadow: 0px 5px 15px 0 rgba(0, 0, 0, 0.3);
		.imgCaroBox img {transform: scale(1.2);}
		.hoverBox {display: block;}
	}

	.savedOffersDropdown &:hover {box-shadow: unset;
		.textBox h4 {color: $green;}
		.imgBox img {transform: scale(1);}
	}
	table &:hover {box-shadow: unset;
		.textBox h4 {color: $green;}
		.imgBox img {transform: scale(1);}
	}

	.owl-item & {width: 100%;}
}

.subPageContent .mainOffersBox.owl-carousel .owl-stage-outer {overflow: hidden;}

.lSSlideWrapper.usingCss .lSFade > * {transition: all 0.2s ease-in-out !important;}

.offerStatusBox {position: absolute; display: flex; width: 100%; top: 0; right: 0; padding-left: 5px;  z-index: 10; justify-content: flex-end;
	.statusBox {display: flex; margin-right: 3px;}
	.statusItem {margin-right: 3px; padding: 10px 6px 18px; background-image: url("../img/banner.svg"); overflow: visible;
		&:last-child {margin-right: 0;}
	}
}
.discountBox {padding: 10px 12px; background: rgba(0,0,0,0.5); border-top-right-radius: 8px;
	p {@extend .ms_B; font-size: 16px; line-height: 20px; color: white;}
	.offerTopBox & {border-radius: 0;}
}

.offerPriceBox {margin-top: 25px;
	.newPrice {display: block; margin-bottom: 6px; @extend .ms_B; font-size: 24px; line-height: 26px; color: $pink;}
	.oldPrice {@extend .ms_R; font-size: 14px; line-height: 16px; color: $dGrey;}
}

.savedOffersList {
	li {position: relative; margin-bottom: 8px; padding-bottom: 8px; border-bottom: 1px solid #cfd5de;}
}

.removeSavedOffer {position: absolute; top: 4px; right: 0; cursor: pointer;
	i {font-size: 12px; color: $dGrey !important; transition: color 0.2s ease-in-out;}
	&:hover i {color: $pink !important;}
}

.toAllSavedOffer {@extend .ms_R; font-size: 16px; line-height: 18px; color: $primary; transition: color 0.2s ease-in-out;
	&:hover {color: $green;}
}

.loadMoreBtn {display: block; padding: 12px; border: 1px solid #cfd5de; border-radius: 4px; @extend .ms_R; font-size: 16px; line-height: 16px; color: $dGrey; text-align: center; cursor: pointer; transition: all 0.2s ease-in-out;
	&:hover {background: $dGrey; border-color: $dGrey; color: white;}
}

.offersMenu {
	li {margin-bottom: 12px;
		&:last-child {margin-bottom: 0;}
	}
	a {@extend .ms_R; font-size: 14px; line-height: 16px; color: $dGrey; cursor: pointer; transition: color 0.2s ease-in-out;
		&:hover {color: $green;}
	}
	.active a {@extend .ms_B; color: $green;}
}

.offerTopBox {margin-bottom: 50px;}

.offerMainInfos {
	h5 {margin-bottom: 10px; @extend .ms_R; font-size: 20px; line-height: 22px; color: $dGrey;}
	p {@extend .ms_R; font-size: 14px; line-height: 20px; color: $dGrey;}
	.btn {margin-bottom: 10px;
		&.saveOfferBtn {margin-bottom: 20px;}
	}
	.offerPriceBox {margin-top: 50px; margin-bottom: 20px; padding-top: 20px; border-top: 1px solid #cfd5de;
		.newPrice {display: block; margin-bottom: 10px; @extend .ms_B; font-size: 36px; line-height: 38px; color: $pink;}
		.oldPrice {@extend .ms_R; font-size: 20px; line-height: 22px; color: $dGrey;}
	}
	i {margin-right: 10px;}

	.shareBox {margin-top: 30px; padding-top: 10px; border-top: 1px solid #cfd5de;}
	&.typeAd {
		.btn.greenBtn, input {display: none;}
	}
}

.offerDetailsBox {margin-bottom: 40px; 
	&:last-child {margin-bottom: 0;}
}

.printItBtn {margin-top: 60px;}

#mapBox {height: 340px; margin-top: 30px;}
.gm-style > div:last-child, .gm-style button, .gmnoprint, .gm-style-cc { display: none; }

.filterWrapper {display: flex; margin-bottom: 30px; justify-content: space-between; 
	.filterBox {margin-bottom: 0;}
}
.filterBox {display: flex; margin-bottom: 30px; justify-content: flex-end;
	.inputBox label {display: none;}
}
.showOnMobile {display: none;}
.select2-container--default .select2-selection--single {height: 36px; border: 0;}
.select2-container .select2-selection--single .select2-selection__rendered {width: 100%; height: 36px; padding: 11px 30px 0 10px; background: white; border: 1px solid #d2d7db; border-radius: 4px; @extend .ms_R; font-size: 12px; line-height: 12px; color: $primary;}
.select2-container--default .select2-selection--single .select2-selection__arrow {height: 36px;}
.select2-results__option {padding: 10px; @extend .ms_R; font-size: 12px; line-height: 12px; color: $primary;}
.select2-container--open .select2-dropdown--below {border: 0; box-shadow: 0px 10px 20px 0 rgba(0, 0, 0, 0.2);}
.select2-container--default .select2-search--dropdown .select2-search__field {width: 100%; height: 36px; padding: 0 10px; background: white; border: 1px solid #d2d7db; border-radius: 4px; @extend .ms_R; font-size: 12px; line-height: 12px; color: $primary;}
.locBox {
	.select2-container--default .select2-selection--single {background: transparent;
		.select2-selection__rendered {padding-left: 30px; background: transparent;}
	}
	.modal & {
		.select2-container {width: 100% !important;}
	}
}

.liveLocBox {width: 300px !important;
	.icon-cancel {display: none; right: 5px !important; left: auto !important; cursor: pointer; z-index: 5 !important; transition: color 0.2s ease-in-out;
		&:hover {color: $pink;}
	}
	.select2-container--default .select2-selection--single {background: transparent;
		.select2-selection__rendered {padding-left: 30px; background: transparent;}
	}
	.select2-container--default .select2-selection--single .select2-selection__arrow {display: none;}
}

.mainLogo {
	.select2-container {width: auto;}
	.select2-container .select2-selection--single .select2-selection__rendered {width: auto; height: auto; padding: 7px 25px 7px 5px; background: white; border: 0; border-radius: 4px; @extend .ms_B; font-size: 21px; line-height: 20px; color: $green; text-transform: uppercase; letter-spacing: 0.5px;}
	.select2-container--default .select2-selection--single .select2-selection__arrow {
		b {display: none;}
	}
}

#select2-countrySelect-results {padding: 10px 0;
	.select2-results__option {padding: 5px 40px; @extend .ms_B; font-size: 16px; line-height: 16px; color: $dGrey; text-transform: uppercase; letter-spacing: 0.5px; white-space: nowrap;}
}


.select2-container--default .select2-results__option--highlighted[aria-selected] {background: rgba($green,0.7); color: white;}
#select2-countrySelect-results {
	.select2-results__option--highlighted[aria-selected] {background: rgba($green,0.7); color: white;}
	.select2-results__option[aria-selected='true'] {background: transparent; color: $green;}
}
// ARTICLES

.offersAndArticlesBox {position: relative; z-index: 1;}

.articlesWrapper {
	> h3 {margin-bottom: 15px; padding-bottom: 10px; border-bottom: 1px solid $green; @extend .ms_R; font-size: 16px; line-height: 18px; color: $green; text-transform: uppercase;
		a {color: inherit;}
	}
	&.underCategories {margin-top: 60px;}
}

.articlesBox {
	&.listView {display: flex; flex-wrap: wrap; justify-content: space-between;}
}

.articleItem {width: calc(25% - 20px); margin-bottom: 60px; padding-bottom: 7px; border-bottom: 1px solid $green;
	.imgBox {width: 100%; margin-bottom: 12px;
		img {display: block; width: 100%; height: auto;}
	}
	h4 {margin-bottom: 10px; @extend .ms_M; font-size: 18px; line-height: 22px; color: $primary; transition: color 0.2s ease-in-out;}
	p {@extend .ms_R; font-size: 12px; line-height: 16px; color: $primary;}
	span {display: block; margin-top: 12px; @extend .ms_R; font-size: 12px; line-height: 16px; color: $dGrey;}
    &:hover {
        h4 {color: $green;}
	}
	.asideView & {display: block; width: 100%; margin-bottom: 15px; padding-bottom: 15px; 
		&:last-child {margin-bottom: 0;}
		h4 {margin-bottom: 10px; font-size: 16px; line-height: 20px;}
		p {line-height: 14px;}
	}
	&.bigItem {width: calc(33.3333% - 20px); margin-bottom: 70px;}
		
}

.articleDate {display: block; margin-top: 12px; @extend .ms_R; font-size: 14px; line-height: 16px; color: $green;}

.loadArticles {display: none;
	&.showIt {display: block;}
}

// ARTICLES

// FOOTER
.pageFooter {padding: 65px 0 10px; background: $grey; overflow: hidden;}

.footerBoxes {display: flex; margin-bottom: 65px;
	> div {width: 33.3333%;
		> h3 {margin-bottom: 35px; @extend .ms_R; font-size: 20px; line-height: 22px; color: $dGrey; text-transform: uppercase;}
		> p {max-width: 340px; margin-bottom: 25px; @extend .ms_R; font-size: 14px; line-height: 22px; color: $dGrey;}
	}
}

.footerLogo {display: block; margin: -20px 0 42px;}

.footerNav {
	li {margin-bottom: 5px;
		&:last-child {margin-bottom: 0;}
	}
	a {@extend .ms_R; font-size: 14px; line-height: 18px; color: $dGrey; transition: color 0.2s ease-in-out;
		&:hover {color: $green;}
	}
}

.socialMenu {display: flex;
	li {margin-right: 30px;
		&:last-child {margin-right: 0;}
	}
	a {display: block; cursor: pointer;
		&:hover i {color: $green;}
	}
	i {margin-top: 6px; font-size: 26px; color: $dGrey; transition: color 0.2s ease-in-out;
		&.icon-facebook {margin-top: 0; font-size: 34px;}
	}
}

.copyright {max-width: 150px; margin: 0 auto; @extend .ms_R; font-size: 10px; line-height: 12px; color: $dGrey;}

// FOOTER

// MODAL 
.modal {z-index: 20;}
.modal-backdrop {z-index: 19;}
.modal-dialog {width: 580px; max-width: calc(100% - 40px); margin: 200px auto;
	#userModal & {display: none;}
}
.modal-content {background: #f8f8f8;}
.modal-body {padding: 50px 60px 30px;}

.modalClose {position: absolute; top: 20px; right: 20px; padding: 0; cursor: pointer;
	i {font-size: 29px; color: $primary; transition: color 0.2s ease-in-out;}
	&:hover i {color: $pink;}
}

// MODAL

// LOGIN, REGISTRATION

.tabletLogo {display: none;}

.loginContent, .regContent, .forgottenPwContent, .sendInEmailContent {
	> h1, > h5 {margin-bottom: 30px; @extend .ms_B; font-size: 34px; line-height: 34px; color: $primary;}
	p {margin-bottom: 15px; @extend .ms_R; font-size: 14px; line-height: 20px; color: $dGrey;}
}

.socialLoginBox {display: flex; margin-bottom: 23px; justify-content: space-between;
	.btn {width: calc(50% - 15px); padding: 8px 12px; box-shadow: 0px 2px 6px 0 rgba(0, 0, 0, 0.1);}
	img {height: 24px; margin-right: 10px;}
	span {position: relative; top: 2px; @extend .ms_R; font-size: 12px;}
}

.separatorBox {position: relative; display: flex; margin-bottom: 6px; justify-content: center;
	span {display: inline-block; padding: 0 25px; background: #f8f8f8; @extend .ms_R; font-size: 12px; line-height: 18px; color: $dGrey; text-transform: uppercase; z-index: 2;}
	hr {position: absolute; top: 50%; left: 0; width: 100%; border-top: 1px solid #cfd5de; transform: translate(0,-50%); z-index: 1;}
}

.formBox {margin-bottom: 8px; padding-bottom: 30px; border-bottom: 1px solid #cfd5de;
	> h6 {margin-bottom: 20px; @extend .ms_B; font-size: 12px; line-height: 12px; color: $dGrey; text-align: center;}
	.forgottenPwModal &, .sendInEmailContent & {padding-bottom: 0; border-bottom: 0;}

	&.setNewPwBox {margin-bottom: 0; padding-bottom: 0; border-bottom: 0;}
}

fieldset {
	legend {margin-bottom: 5px; @extend .ms_R; font-size: 18px; line-height: 20px; color: $dGrey;}
	#partnerRegForm & {margin-bottom: 40px;}
	#profileForm & {margin-bottom: 50px;
		legend {margin-bottom: 20px;}
	}
}

.inputRow {display: flex; margin-bottom: 20px; justify-content: space-between; 
	.inputBox {width: 100%; margin-right: 10px; margin-bottom: 0;
		&:last-child {margin-right: 0;}
	}
	&:last-child {margin-bottom: 0;}
	&.billingAddress {display: none;}
}

.inputBox {position: relative; margin-bottom: 20px;
	label {display: block; margin-bottom: 5px; @extend .ms_R; font-size: 12px; line-height: 12px; color: $dGrey;}
	input, select {width: 100%; height: 36px; padding: 0 10px; background: white; border: 1px solid #d2d7db; border-radius: 4px; @extend .ms_R; font-size: 12px; line-height: 12px; color: $primary;}
	textarea {width: 100%; height: 120px; padding: 10px; background: white; border: 1px solid #d2d7db; border-radius: 4px; @extend .ms_R; font-size: 12px; line-height: 12px; color: $primary;}
	&:last-child {margin-bottom: 0;}
	&.invalid {
		input, select, textarea {border-color: $pink;}
	}
	&.valid {
		input, select, textarea {border-color: $green;}
	}
	.select2-container {width: 100% !important;}
}

.chbInput {display: none;}

.chbLabel {position: relative; display: inline-block; margin: 0 !important; padding-left: 30px; @extend .ms_R; font-size: 12px; line-height: 18px !important; color: $dGrey; text-align: left; cursor: pointer;
	> div {position: absolute; top: -1px; left: 0; width: 18px; height: 18px; background: white; border: 1px solid #cfd5de; border-radius: 2px;}
	i {position: absolute; display: none; top: 5px; left: 2px; font-size: 10px; color: $green;}
}

.chbInput:checked + .chbLabel {
	i {display: block;}
}

.radioInput {display: none;}

.radioLabel {position: relative; display: inline-block; margin: 0 !important; padding-left: 25px; @extend .ms_R; font-size: 12px; line-height: 18px !important; color: $dGrey; text-align: left; cursor: pointer;
	> div {position: absolute; top: 1px; left: 0; width: 16px; height: 16px; padding: 3px; background: white; border: 1px solid #cfd5de; border-radius: 50%;}
	span {display: none; width: 100%; height: 100%; background: $green; border-radius: 50%;}
}

.radioInput:checked + .radioLabel {
	span {display: block;}
}

.formBox {
	.submitBtn {margin-top: 30px;}
}

.forgottenPwBox {display: flex; padding-top: 8px; justify-content: flex-end;}
.forgottenPwLink {@extend .ms_R; font-size: 12px; line-height: 12px; color: $green; cursor: pointer;
	.inputBox & {position: absolute; top: 0; right: 0;}
	&:hover {text-decoration: underline;}
}


.genderRadioBox {display: flex; margin-bottom: 10px; padding-top: 13px;
	> span {margin-right: 20px; @extend .ms_R; font-size: 12px; line-height: 18px; color: $dGrey; text-transform: uppercase;}
	> div {display: inline-flex; margin-right: 20px;
		&:last-child {margin-right: 0;}
	}
}

.changeModalLink {@extend .ms_R; font-size: 12px; line-height: 12px; color: $green; cursor: pointer;
	&:hover {text-decoration: underline;}
}

.pwVisibilityToggler {position: absolute; right: 10px; bottom: 10px; font-size: 11px; color: $dGrey; cursor: pointer; transition: color 0.2s ease-in-out;
	&:hover {color: $primary;}	
	&.showIt {color: $primary;
		&:hover {color: $dGrey;}
	}
}

// LOGIN, REGISTRATION

// LOGIN PAGE

.loginAndRegPageContent {position: relative; display: flex; height: 100vh;
	.titleBox {position: relative; display: flex; width: 600px; padding: 0 60px; align-items: center; justify-content: center; overflow: hidden;
		> a {position: absolute; top: 25px; left: 50%; transform: translate(-50%,0);
			img {width: 150px;}
		}
		> img {position: absolute; top: 0; left: 0; min-width: 100%; min-height: 100%; z-index: -1;}
		h2 {@extend .ms_L; font-size: 40px; line-height: 42px; color: white; text-align: center; transform: translate(0, 50px);}
	}
	.mainContent {position: relative; display: flex; width: calc(100% - 600px); padding: 90px 130px; background: #F8F8F8; align-items: center;
		.formBox {width: 460px;}
		&.partnerReg {display: block; overflow-y: scroll;
			.regContent {padding-bottom: 90px;}
			
		}
	}
	&.success {
		.mainContent {display: flex; overflow-y: unset;}
		.regContent, .toRegPageBox, .toLoginPageBox {display: none;}
		.thanksBox {display: block;}
	}
}

.changePageLink {@extend .ms_R; font-size: 12px; line-height: 12px; color: $green; cursor: pointer;
	&:hover {text-decoration: underline;}
}

.toRegPageBox, .toLoginPageBox {position: absolute; display: flex; top: 20px; right: 150px; align-items: center;
	span {margin-right: 20px; @extend .ms_R; font-size: 12px; line-height: 12px; color: $dGrey;}
}

// LOGIN PAGE

.thanksBox {display: none; width: 420px;
	h3 {margin-bottom: 35px; @extend .ms_B; font-size: 34px; line-height: 40px; color: $primary;}
	p {margin-bottom: 40px; @extend .ms_R; font-size: 18px; line-height: 24px; color: $dGrey;}
	.btn {display: inline-block;}
}

// SUBPAGE

.pageContent.subPageContent {padding: 50px 0 70px;}
.subPageTitle {max-width: 840px; margin-bottom: 45px; @extend .ms_B; font-size: 34px; line-height: 40px; color: $primary;
	img {position: relative; top: -2px; width: 30px; margin-right: 10px;}
}
h2.subPageTitle {margin-bottom: 20px; font-size: 24px; line-height: 28px;}
.subPageSubTitle {max-width: 485px; margin-bottom: 45px; @extend .ms_L; font-size: 34px; line-height: 40px; color: $primary;}
.splitedWrapper {display: flex;
	&.top {margin-bottom: 30px;
		.subPageMain {align-self: flex-end;}
		.mainOffersBox {margin-bottom: 0;}
	}
	&.bottom {flex-flow: row-reverse;}
}
.subPageAside {width: 300px;
	&.left {padding-right: 60px;}
	&.right {padding-left: 60px;}
	.offerTopBox &.right {padding-left: 20px;}
	.subPageTitle {margin-bottom: 20px;}
}
.subPageMain {position: relative; width: calc(100% - 300px);
	&.center {margin: 0 auto;}
	&.full {width: 100%;}
	&.flex {display: flex;}
	.mainTextBox {padding: 0 50px;}
} 

// MAINTEXTBOX

.offerDetailsContent {
	.subPageMain {width: calc(100% - 400px);}
	.splitedWrapper {
		.subPageMain {width: calc(100% - 400px);}
		.subPageAside {width: 400px;}
	}
}

.mainTextBox {padding: 0 100px;
    h1, h2, h3, h4, h5, h6 {@extend .ms_B; color: $primary; }
    h1 {font-size: 30px; line-height: 38px; }
    h2 {font-size: 28px; line-height: 36px; }
    h3 {font-size: 26px; line-height: 34px; }
    h4 {font-size: 24px; line-height: 32px; }
    h5 {font-size: 22px; line-height: 30px; }
   	h6 {font-size: 20px; line-height: 28px; }
	p { @extend .ms_R; font-size: 14px; line-height: 20px; color: $primary; }
	a {@extend .ms_R; font-size: 14px; line-height: 20px; color: $green;
		&:hover {text-decoration: underline;}
	}
   	strong, em, span, sup, sub { font-size: inherit; line-height: inherit; color: inherit; }
   	strong { @extend .ms_B; }
	em, sup, sub { font-family: inherit; font-weight: inherit; }
   	em { font-style: italic; }
   	blockquote {width: calc(100% - 200px); margin: 0 auto; @extend .ms_R; font-size: 26px; line-height: 32px; color: $primary; }
   	> ul, > ol {
        li { position: relative; padding-left: 10px; @extend .ms_R; font-size: 14px; line-height: 20px; color: $primary;
            &:before { position: absolute; left: 0; display: block; width: 3px; }
        }
    }
    > ul li:before {top: 10px; height: 3px; background-color: $primary; border-radius: 50%; content: ""; }
    > ol { list-style: none; counter-reset: li;
        li {padding-left: 20px; list-style-position: outside; counter-increment: li;
           &:before { text-align: center; @extend .ms_M; color: $green; content: counter(li); }
       }
   }
   > img {display: block; max-width: 100%; height: auto;}
    iframe {display: block; width: 100%; }

   hr { height: 4px; background-color: $green;}

   .offerDetailsContent & {padding: 0;
	   p, li {color: $dGrey;}
	   ul li:before {background-color: $dGrey;}
   }
}

.videoWrapper, #videoModal .modal-content { overflow: hidden; position: relative; max-width: 100%; height: 0; padding-bottom: 56.25%;
    iframe, object, embed { position: absolute; top: 0; left: 0; display: block; width: 100%; height: 100%; background-color: black; }
}

.lSAction {
	> a {width: auto; height: auto; background: transparent; opacity: 1;
		i {font-size: 40px; color: white; transition: color 0.2s ease-in-out;}
		&:hover i {color: $green;}
	}
	> .lSPrev {left: 20px;}
	> .lSNext {right: 20px;}
}
.lSSlideOuter {
	img {width: 100%; height: auto;}
	.lSPager.lSGallery {
		li {position: relative; cursor: pointer;
			&:before {position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: rgba($green,0.5); opacity: 0; content: ""; transition: opacity 0.2s ease-in-out;}
			&.active, &:hover {border-radius: 0;
				&:before {opacity: 1;}
			}
		}		
	}
}


// OUR TEAM

.ourTeam {display: flex; margin-top: 85px; justify-content: flex-start;}

.teamMember {width: calc(33.3333% - 30px); margin: 0 30px 30px 0;
	figure {width: 105px; height: 105px; margin: 0 auto 20px; border-radius: 50%; overflow: hidden;
		img {display: block;}
	}
	h6 {margin-bottom: 10px; @extend .ms_R; font-size: 16px; line-height: 22px; color: $primary; text-align: center;}
	span, a {display: block; @extend .ms_R; font-size: 14px; line-height: 18px; color: $dGrey; text-align: center;}
	a {transition: color 0.2s ease-in-out;}
	a:hover {color: $green;}
	p {margin-top: 20px; @extend .ms_R; font-size: 14px; line-height: 18px; color: $primary; text-align: center;}
}

// CONTACT

.contactFormBox {width: 50%; padding-right: 110px; border-right: 1px solid #cfd5de;}
.contactInfoBox {width: 50%; text-align: center;
	h6 {@extend .ms_R; font-size: 16px; line-height: 24px; color: $primary; text-align: center;}
	hr {width: 35px; height: 2px; margin: 10px auto; background: #cfd5de;}
	p {@extend .ms_R; font-size: 16px; line-height: 24px; color: $dGrey; text-align: center;}
	a {@extend .ms_R; font-size: 16px; line-height: 24px; color: $dGrey; }
}

// PROFILE

.profilePageNav {margin-bottom: 65px; border-bottom: 1px solid #cfd5de;
	ul {display: flex; width: 100%; }
	li {margin-right: 20px;
		&:last-child {margin-right: 0;}
		&.active a {border-color: $green; color: $primary;}
	}
	a {display: block; padding: 0 10px 5px; border-bottom: 4px solid transparent; @extend .ms_R; font-size: 18px; line-height: 20px; color: $dGrey; text-transform: uppercase; transition: all 0.2s ease-in-out;}
}

.profileFormBox {width: 50%; padding-right: 110px;}

// BALANCE

.balanceBox {display: flex; width: 50%; padding: 20px; background: white; border-radius: 6px; box-shadow: 0px 2px 6px 0 rgba(0, 0, 0, 0.1);
	h3 {width: calc(100% - 200px); padding: 65px 0; border-right: 2px solid #cfd5de; @extend .ms_UL; font-size: 46px; line-height: 48px; color: $primary; text-align: center;}
	p {width: 200px; padding-left: 20px; @extend .ms_R; font-size: 14px; line-height: 18px; color: $primary;}
}

// VOUCHERS 

.vouchersWrapper {width: 100%;
	> h5 {margin-bottom: 10px; @extend .ms_R; font-size: 14px; line-height: 18px; color: $dGrey; text-transform: uppercase;}
}

.vouchersBox {margin-bottom: 40px; padding: 20px; background: white; border-radius: 6px; box-shadow: 0px 2px 6px 0 rgba(0, 0, 0, 0.1);
	&:last-child {margin-bottom: 0;}
}

.vouchersTable, .basketTable {width: 100%; border-collapse: collapse;
	th, td {text-align: center; vertical-align: middle;}
	th {padding: 5px 20px; @extend .ms_R; font-size: 14px; line-height: 16px; color: $dGrey; text-transform: uppercase;
		&:first-child {padding-left: 0; text-align: left;}
	}
	td {padding: 10px 20px; border-bottom: 1px solid #cfd5de; @extend .ms_R; font-size: 14px; line-height: 18px; color: $primary;
		&:first-child {padding-left: 0;}
		&.expired {color: $pink;}
	}
	tr {
		&:first-child td {border-top: 1px solid #cfd5de;}
		&:last-child td {padding-bottom: 0; border-bottom: 0;}
	}
}
.tableMobileInfo {display: none; margin-bottom: 10px;
	li {display: flex; width: 100%; margin-bottom: 10px; align-items: center; justify-content: space-between;
		.quantityInput {margin-top: 0;}
	}
	span { @extend .ms_R; font-size: 14px; line-height: 18px; color: $primary; text-align: left;}
}

.basketTable {
	td {vertical-align: top;}
}

.loadExpiredVouchers {margin-top: 50px;}

// BASKET

.basketMenu {margin-bottom: 30px;
	ul {display: flex;}
	li {margin-right: 45px;
		&:last-child {margin-right: 0;}
	}
	a {position: relative; display: block; padding: 0 0px 0 40px; @extend .ms_R; font-size: 14px; line-height: 18px; color: $primary; cursor: pointer;
		> div {position: absolute; width: 30px; height: 30px; top: 50%; left: 0; padding-top: 5px; border: 1px solid $primary; border-radius: 50%; @extend .ms_R; font-size: 14px; line-height: 18px; color: $primary; text-align: center; transform: translateY(-50%);}
	}
	.disabled a {color: $dGrey; pointer-events: none;
		> div {border-color: $dGrey; color: $dGrey;}
	}
	.active a {@extend .ms_B; color: $primary;
		> div {background: $primary; border-color: $primary; @extend .ms_B; color: white;}
	}
}

.basketContentBox {padding: 20px; background: white; border-radius: 6px; box-shadow: 0px 2px 6px 0 rgba(0, 0, 0, 0.1);}

.basketTable {
	th:nth-child(2) {padding-left: 0; text-align: left;}
	td:nth-child(2) {padding-left: 0;}
	.quantityInput {width: 85px; margin-top: 10px;}
	tr {
		&:last-child td {padding-bottom: 10px; border-bottom: 1px solid #cfd5de;}
	}

	td > p {margin-top: 20px;}
}



.removeBasketItem {display: inline-block; margin-top: 34px; cursor: pointer;
	&:hover i {color: $pink;}
	i {color: $dGrey; font-size: 12px; transition: color 0.2s ease-in-out;}
}

.giftWrapper {
	> .inputBox {margin-bottom: 0;}
}

.giftedDataBox {display: none; margin-top: 15px; 
	.inputBox {margin-bottom: 10px;}
}

.basketNav {display: flex; margin-top: 10px; justify-content: space-between;}
.summaryBox {margin-top: 3px; padding-top: 15px; border-top: 1px solid #cfd5de;
	&.noBorder {margin-top: 35px; padding-top: 0; border: 0;}
}

.couponBox {display: flex; width: 100%; margin-bottom: 15px; justify-content: flex-end;
	form {display: flex;}
	.inputBox {margin-right: 10px; margin-bottom: 0;}
}

.addCouponBtn {min-width: 0; padding-top: 9px; padding-bottom: 9px;}

.summaryList {
	li {margin-bottom: 10px; @extend .ms_R; font-size: 14px; line-height: 18px; color: $dGrey; text-align: right;
		span {display: inline-block; margin-left: 45px; @extend .ms_R; font-size: 14px; line-height: 18px; color: $primary;}
		&:last-child {margin-bottom: 0;}
		&.finalPrice span {@extend .ms_B; color: $green;}
	}
}

.paymentContentBox {background: white; border-radius: 6px; box-shadow: 0px 2px 6px 0 rgba(0, 0, 0, 0.1);}

.paymentInfo {margin-bottom: 20px; @extend .ms_R; font-size: 14px; line-height: 18px; color: $dGrey;}

.paymentOptions {
	li {padding: 15px; border-bottom: 1px solid #cfd5de;}
	.radioLabel {@extend .ms_M; font-size: 16px; line-height: 20px; color: $primary;}
}

.basketLoginBox {display: flex;
	> div {
		h4 {margin-bottom: 20px; @extend .ms_R; font-size: 22px; line-height: 26px; color: $primary;}
		p {margin-bottom: 30px; @extend .ms_R; font-size: 14px; line-height: 20px; color: $dGrey;}
		&:first-child {width: 60%; padding-right: 40px; border-right: 1px solid #cfd5de;}
		&:last-child {width: 40%; padding-left: 40px;}
	}
	.btnWrap {
		.btn:first-child {margin-right: 12px;}
	}
	.separatorBox {margin: 10px 0;}
}

// PARTNER PAGES

.addNewVoucherBtn {margin-bottom: 50px;}

.partnerMenu {
	ul {display: flex;}
	li {position: relative; margin-right: 15px;
		&:after {position: absolute; display: none; width: 100%; height: 4px; top: calc(100% + 6px); left: 0; background: $green; content: "";}
		&:last-child {margin-right: 0;}
	}
	a {display: block; padding: 10px; @extend .ms_R; font-size: 16px; line-height: 20px; color: $primary;}
	li.active {
		&:after {display: block;}
		a {@extend .ms_B;}
	}
}

.partnerPageContent {
	.vouchersTable.lastBorder {
		tr {
			&:last-child td {padding-bottom: 10px; border-bottom: 1px solid #cfd5de;}
		}
	}
}

.voucherCheckBox {width: 550px; max-width: 100%; margin: 80px auto;
	> p {margin-bottom: 30px; @extend .ms_R; font-size: 16px; line-height: 20px; color: $primary; text-align: center;}
	.inputBox {
		label {text-align: left;}
		input {height: 80px; padding: 0 50px 0 20px; font-size: 34px;}
		i {position: absolute; display: none; right: 10px; bottom: 24px; font-size: 30px;
			&.icon-cancel {color: $pink;}
			&.icon-check {color: $green;}
		}
		&.ok {
			input {border-color: $green;}
			.icon-check {display: inline-block;}
		}
			
		&.wrong {
			input {border-color: $pink;}
			.icon-cancel {display: inline-block;}
		}
		
	}
	form {text-align: center;}

	.successMsg {display: none;}

	&.firstStep {
		.voucherBackBtn, .confirmBtn {display: none;}
	}

	&.secondStep {
		.checkBtn {display: none;}
		.checkInfo {display: none;}
	}

	&.thirdStep {
		.checkBtn {display: none;}
		.successMsg {display: block;}
		.checkInfo {display: none;}
	}

}

// FAQ

.faqList {border-radius: 6px; box-shadow: 0px 2px 6px 0 rgba(0, 0, 0, 0.1); overflow: hidden;
	> li {
		header { position: relative; padding: 25px 80px 25px 30px; background: white; border-bottom: 1px solid #cfd5de; cursor: pointer; transition: all 0.3s ease-in-out;
			h3 {@extend .ms_B; font-size: 22px; line-height: 28px; color: $primary; transition: color 0.2s ease-in-out;}
			i {position: absolute; top: calc(50% + 2px); right: 30px; font-size: 12px; transform: translateY(-50%); transition: all 0.2s ease-in-out;}
			&:hover { background-color: $green; 
				h3, i {color: white;}
				
			}
		}
		&.active {
			header {background-color: $green;
				h3,i {color: white;}
				i {transform: translateY(-50%) rotate(180deg);}
			}
		}
		> div { position: relative; display: none; padding: 30px 0px; background: white; border-bottom: 1px solid #cfd5de;}
		&:last-child {
			header {border-bottom: 0;}
			> div {border-bottom: 0;}
		}
	}
}

// HELLO NACHBARN

.cityAndRadiusBox {display: flex;
	.inputBox {position: relative; width: 300px; margin-right: 20px; margin-bottom: 0; background: white; z-index: 2;
		input {padding-left: 30px; background: transparent;}
		> i {position: absolute; top: 12px; left: 10px; font-size: 16px; color: $dGrey; z-index: -1;}
		&:last-child {margin-right: 0;}
	}
}

@media (min-width: 1199px){
	.mainOffersBox.owl-carousel .owl-stage-outer {overflow: visible;}
}

@media (max-width: 1599px){

	.loginAndRegPageContent {
		.titleBox {width: 400px;}
		.mainContent {width: calc(100% - 400px);}
	}

	.toLoginPageBox, .toRegPageBox {right: 50px;}
}

@media (max-width: 1199px){

	// HOME

	.mainLogo {margin-top: 0; 
		img {
			&.desktopLogo {display: none;}
			&.mobileLogo {display: inline-block;}
		}
	}

	.dropdownParent {
		&.hoverOpen:hover {
			.dropdown {display: none !important;}
		}
	}
	
	.pageContent {padding-bottom: 50px; overflow: hidden;}
	.subCatDropdown > div {
		&:first-child {width: 40%;}
		&:last-child {width: 60%;} 
	}
	.mainOffersSection {width: calc(100% + 40px); margin-bottom: 30px; margin-left: -20px; padding: 30px 20px; background: #ff1866;
		.mainOffersBox {width: 80%; margin-bottom: 0; 
			&.owl-carousel .owl-stage-outer {width: 100%; margin-left: 0; padding: 0; overflow: visible;}
		}
	}

	.subPageContent .mainOffersSection .mainOffersBox {width: 100%;}

	.offerItem {
		&:hover {
			.hoverBox {display: none;}
		}
	}

	.offersAndArticlesBox {display: block;
		.offersWrapper {width: 100%;}
		.articlesWrapper {width: 100%; padding-top: 40px; padding-left: 0;
			> h3 {padding-bottom: 0; border-bottom: 0;}
			.articlesBox {display: flex; width: calc(100% + 30px); justify-content: flex-start;
				.articleItem {width: calc(33.3333% - 30px); margin-right: 30px; margin-bottom: 30px; padding: 15px 0 0; border-top: 1px solid $green; border-bottom: 0;}
			}
		}
	}
	.loadArticles {display: block;}
	.pageFooter {padding-top: 40px;}
	.footerBoxes {margin-bottom: 40px;}

	.modal-dialog {margin: 100px auto;}

	// ABOUT US

	.subPageMain {width: 100%;}

	// ARTICLE INNER

	.splitedWrapper {display: block;}
	.subPageAside {width: 100%;
		.articlesWrapper {width: 100%; padding-top: 60px; padding-left: 0;
			> h3 {padding-bottom: 0; border-bottom: 0;}
			.articlesBox {display: flex; width: calc(100% + 30px); justify-content: flex-start;
				.articleItem {width: calc(33.3333% - 30px); margin-right: 30px; margin-bottom: 30px; padding: 15px 0 0; border-top: 1px solid $green; border-bottom: 0;}
			}
		}
		&.right {padding-left: 0;}
	}

	.subOffers, .seenOffers {margin-top: 60px;
		.offersBox {width: 85%;
			&.owl-carousel .owl-stage-outer {width: 100%; margin-left: 0; padding: 0; overflow: visible;}
		}
	}

	// CONTACT

	.contactFormBox {padding-right: 20px;}

	// PROFILE

	.profileFormBox {width: 100%; max-width: 700px; margin: 0 auto; padding: 0;}

	// LOGIN, REG, PARTNER_LOGIN, PARTNER_REG

	.loginAndRegPageContent {
		.mainContent {padding-right: 50px; padding-left: 50px;
			.loginContent, .formBox {width: 100%;}
		}
	}

	//.toLoginPageBox, .toRegPageBox {display: none;}

	// OFFER INNER

	.offerTopBox .subPageAside.right {margin-top: 40px; padding-left: 0;}

	.printItBtn {margin-top: 40px;}

	.offerDetailsContent {
		.subPageMain {width: 100%;}
		.splitedWrapper {display: flex;
			.subPageMain {width: calc(100% - 300px); padding-right: 20px;}
			.subPageAside {width: 300px; margin-top: 0;}
		}
	}

	// OFFERS

	.offersMenu {margin-bottom: 20px;
		ul {display: flex; flex-wrap: wrap;
			li {margin-right: 15px;}
		}
	}

	.subPageAside.left {padding-right: 0;}

	.articlesWrapper.underCategories {display: none;}

}

@media (max-width: 1023px){

	// HOME

	.mainNav  {
		> ul {white-space: nowrap;overflow-x: scroll;
			> li {display: inline-block; float: none !important; margin-right: 22px;}
		}
	}

	.dropdownParent .dropdown {right: -100px;}
	.helloNachbarn {position: static;
		.dropdown {right: 0px;}
	}

	.nachbarnDropdown {white-space: normal;}
	

	.subCatDropdown {
		> div {width: 100% !important;
			&:first-child {border: 0;}
			&:last-child {padding-left: 0;}
		}
		.active & {display: block !important;}
		& .offerItem .textBox {white-space: normal;}
	}

	.headerActions > div {margin-left: 10px; padding-left: 10px;}
	.headerInputsBox .inputBox {width: 120px;
		input {padding-left: 25px;}
		&.searchBox {width: 170px;}
		&.locBox {width: 130px;}
	}
	.locBox .select2-container--default .select2-selection--single .select2-selection__rendered {padding-left: 20px;}

	.socialMenu li {margin-right: 20px;}

	.modal-dialog {margin: 50px auto;}
	.modal-body {padding: 30px 20px;}
	.modalClose {
		i {font-size: 20px;}
	}

	.forgottenPwBox {margin-bottom: 10px;}

	// ARTICLES

	.articleItem {width: calc(33.3333% - 20px);}

	// BALANCE 

	.balanceBox {width: 100%;}

	// BASKET LOGIN

	.basketLoginBox > div {
		&:first-child {padding-right: 20px;}
		&:last-child {padding-left: 20px;}
	}

	.btnWrap .btn {min-width: 0;}

	// LOGIN

	.loginAndRegPageContent {height: auto; min-height: 100vh;
		.titleBox {display: none;}
		.mainContent {display: block; width: 100%; align-items: flex-start; text-align: center;
			&.partnerReg {overflow: auto;
				.regContent {padding-bottom: 0;}
			}
			form div {text-align: left;}
			.formBox {margin-bottom: 20px; padding-bottom: 0; border-bottom: 0;}
		}
		&.partner {
			.toLoginPageBox, .toRegPageBox {display: none;}
		}
		.toLoginPageBox, .toRegPageBox {position: static; margin-top: 20px; padding-top: 20px; border-top: 1px solid #cfd5de; justify-content: center;}
	}

	.tabletLogo {display: inline-block; margin-bottom: 80px;
		img {width: 150px;}
	}

	// BASKET 

	.basketTable, .vouchersTable {
		thead {display: none;}
	}
	.tableMobileInfo {display: block;}
	.basketTable tr:first-child td, .vouchersTable tr:first-child td {padding-top: 0; border-top: 0;}
	.basketTable .offerItem .textBox, .vouchersTable .offerItem .textBox {width: calc(100% - 110px); padding-right: 0;
		h4 {min-height: 0;}
	}
	.hideOnTablet {display: none;}

	// ABOUT US

	.ourTeam { flex-wrap: wrap;
		.teamMember {width: calc(50% - 30px);}
	}

	// PARTNER LOGIN

	.loginAndRegPageContent .mainContent.partnerReg {flex-wrap: wrap;}
	.loginAndRegPageContent.success .mainContent {display: block;}
	.thanksBox {width: 100%;}

	// HELLO NACHBARN

	.filterWrapper {
		.cityAndRadiusBox {width: calc(66.6666% + 10px); justify-content: space-between;
			.inputBox {width: calc(50% + 10px); margin-right: 10px;}
		}
		.filterBox {width: 33.333333%;
			form {width: 100%;}
		}
	}

	.offerDetailsContent {
		.subPageMain {width: 100%;}
		.splitedWrapper {display: block;
			.subPageMain {width: 100%; padding-right: 0px;}
			.subPageAside {width: 100%; margin-top: 40px;}
		}
	}

	// SEARCH

	.listView .offerItem {width: calc(33.3333% - 30px);}

}

@media (max-width: 767px){ 

	// LOGIN

	.loginAndRegPageContent .mainContent {padding: 30px 20px;}

	.socialLoginBox .btn {width: calc(50% - 5px);}

	.tabletLogo {margin-bottom: 30px;
		img {width: 120px;}
	}

	.forgottenPwContent > h1, .sendInEmailContent > h5, .forgottenPwContent > h5, .loginContent > h1, .loginContent > h5, .regContent > h1, .regContent > h5 {font-size: 24px; line-height: 26px;}

	.thanksBox {
		h3 {margin-bottom: 25px; font-size: 24px; line-height: 26px;}
		p {margin-bottom: 25px; font-size: 14px; line-height: 20px;}
	}

	.toLoginPageBox span, .toRegPageBox span {text-align: left;}

	// CONTENT

	.pageContent.subPageContent {padding: 30px 0;}
	.subPageSubTitle, .subPageTitle {margin-bottom: 30px; font-size: 24px; line-height: 30px;}
	h2.subPageTitle {margin-bottom: 10px; font-size: 18px; line-height: 22px;}
	.subPageMain .mainTextBox {padding: 0;}

	.mainTextBox {padding: 0 100px;
		h1 {font-size: 24px; line-height: 30px; }
		h2 {font-size: 22px; line-height: 28px; }
		h3 {font-size: 20px; line-height: 26px; }
		h4 {font-size: 19px; line-height: 25px; }
		h5 {font-size: 18px; line-height: 24px; }
		h6 {font-size: 16px; line-height: 22px; }
		p {font-size: 14px; line-height: 20px;}
		a {font-size: 14px; line-height: 20px;}
		blockquote {width: calc(100% - 40px); font-size: 18px; line-height: 24px;}
		ul, ol {
			li {font-size: 14px; line-height: 20px;}
		}
		ul li:before {top: 8px;}
	
	   hr { height: 2px;}
	
	}

	// CONTACT

	.subPageMain.mobileReverse {flex-flow: column-reverse;}
	.contactInfoBox {width: 100%; margin-bottom: 30px; padding-bottom: 30px; border-bottom: 1px solid #cfd5de;}
	.contactFormBox {width: 100%; padding-right: 0; border: 0;}

	// FAQ 

	.faqList > li header {padding: 15px 45px 15px 20px;
		h3 {font-size: 14px; line-height: 20px;}
		i {right: 15px; font-size: 8px;}
	}
	.faqList > li > div {padding: 15px 20px;}
	
	// ARTICLE INNER

	.subPageAside .articlesWrapper {padding-top: 40px;
		.articlesBox {flex-wrap: wrap;
			.articleItem {width: calc(50% - 30px);}
		}
	}

	.subOffers, .seenOffers {margin-top: 40px;
		.offersBox {width: 95%;}
	}

	.offerItem {
		.textBox h4 {font-size: 14px; line-height: 20px;}

		.listView & {width: calc(50% - 20px);}
	}
	.offerPriceBox {margin-top: 15px;
		.newPrice {font-size: 20px; line-height: 22px;}
	}

	// ARTICLES

	.articleItem {width: calc(50% - 10px); margin-bottom: 20px;
		&.bigItem {width: calc(50% - 10px); margin-bottom: 20px;}
	}

	// INDEX

	.countrySelector {margin-top: 9px; margin-left: 15px;
		i {color: white;}
	}
	.menuOpen {display: block;}
	.mainHeader {padding-bottom: 0; background: $green;}
	.mainLogo {margin-left: 35px;
		.partnerHeader & {display: inline-block; float: none; margin-left: 0;}
	}
	.partnerHeader {padding-bottom: 12px; background: white;
		.menuOpen {
			span {background: $green;
				&:before, &:after {background: $green;}
			}
		}
		.container {text-align: center;}
		.itsMeBox {text-align: left;}
	}
	.menuIn {
		.partnerHeader .menuOpen span {
			&:before, &:after {background: white;}
		}
	}
	.headerActions > div {margin-left: 15px; padding-left: 0; border: 0;
		> a > i {color: white;}
	}
	.headSearchBox {display: block;}
	.headerInputsBox {position: absolute; display: none; top: 0; left: 0; width: 100%; height: auto !important; padding: 60px 20px 20px !important; background: $green;
		.inputBox {width: 100% !important; margin-right: 0; margin-bottom: 10px; background: white; border-radius: 4px;
			&:last-child {margin-bottom: 0;}
		}
		&.opened {display: block;}
	}
	.lightpick {padding: 20px;
		> h3 {display: none;}
	}
	.lightpick__month {width: 280px;}
	.lightpick__day {height: 40px;}

	.usableDateBox.active #usableDatePicker {background: white; border-color: #d2d7db; color: #454f63;}
	.usableDateBox.active > i {color: $green;}
	.usableDatePickerDropdown {width: calc(100% + 40px) !important; max-width: 320px !important; top: calc(100% + 20px) !important; left: -20px !important; right: auto !important; padding: 20px; 
		> h3 {display: none;}
	}
	.lightpick__month:nth-child(2n+1) .lightpick__month-title-bar {padding-left: 0;}
	.lightpick__month-title {position: relative; width: calc(100% - 72px); left: 36px; text-align: center; z-index: 1;}
	.lightpick__toolbar {z-index: 5;}
	.savedOffersBox.active i, .savedOffersBox > a:hover i {color: white;}
	.toTheCartBox a:hover i {color: white;}
	.loginBox {display: none;}
	.mainNav {width: calc(100% + 20px); padding-top: 0;
		> ul > li {margin-right: 15px;
			&.active {padding-bottom: 12px; border-bottom: 5px solid white;
				> a {opacity: 1;}
			}
			> a {opacity: 0.7;}
		}
	}

	.mainOffersSection .mainOffersBox {width: 95%;}
	.subPageContent .mainOffersSection .mainOffersBox {width: 95%;}

	.offerItem {width: calc(50% - 20px); margin-right: 20px;}

	.offersWrapper .offerItem {margin-bottom: 20px;}

	.offersAndArticlesBox .articlesWrapper .articlesBox {width: calc(100% + 20px); flex-wrap: wrap;
		.articleItem {width: calc(50% - 20px); margin-right: 20px;}
	}

	.footerBoxes {flex-wrap: wrap;

		> div {width: 50%;
			.footerLogo {display: none;}
			> h3 {display: none; font-size: 18px;}
			&:last-child {width: 100%; margin-top: 30px; padding-top: 30px; border-top: 1px solid #cfd5de;
				> h3 {display: block; margin-bottom: 20px; text-align: center;}
				> p {max-width: 100%; text-align: center;}
			}
		}
		.socialMenu {justify-content: center;}

	}

	// PROFILE

	.profilePageNav {margin-bottom: 20px;
		li {margin-right: 0;}
		a {font-size: 14px; text-transform: none;}
	}

	#profileForm fieldset {margin-bottom: 40px;}

	// SAVED OFFERS

	.subPageAside .articlesWrapper {padding-top: 20px;}

	// VOUCHER CHECK

	.voucherCheckBox {margin-top: 0; margin-bottom: 0;}	

	// BASKET 

	.basketMenu li {margin-right: 5px;
		a {min-height: 18px; padding-left: 30px;}
		span {display: none;}
		&.active {
			span {display: inline;}
			a {padding-left: 35px; font-size: 12px;}
		}
	}

	// BASKET LOGIN

	.basketLoginBox {flex-wrap: wrap;
		> div {width: 100% !important;
			&:first-child {margin-bottom: 30px; ;padding-right: 0; padding-bottom: 10px; border-right: 0; border-bottom: 1px solid #cfd5de;}
			&:last-child {padding-left: 0;}
		}
	}

	// OFFERS

	.changeTheOrder {display: flex; flex-wrap: wrap-reverse;
		.caroSection, .filterBox {width: 100%;}
	}
	
	.filterBox { margin-bottom: 0;
		form {display: flex; width: 100%; justify-content: space-between;
			.inputBox {width: calc(50% - 10px);
				label {display: block;}
			}
		}
	}
	.subPageAside.offerCategories {display: none;}
	.showOnMobile {display: block;}

	// HELLO NACHBARN

	.filterWrapper {margin-bottom: 0; flex-wrap: wrap;
		.cityAndRadiusBox {width: 100%; margin-bottom: 20px; justify-content: space-between; flex-wrap: wrap;
			.inputBox {width: calc(50% - 10px) !important; margin-right: 0px;}
		}
		.filterBox {width: 100%;
			form {width: 100%;}
		}
	}

	// PARTNER PAGES

	.partnerMenu {display: none;}

	// COUNTRY SELECT

	.countryItem {width: calc(50% - 30px);}
	body.countrySelectPage {
		.mainNavBox {display: none;}
		.pageContent.subPageContent {padding: 40px 0 10px;}
		.mainHeader {padding-bottom: 10px;}
	}

}

@media (max-width: 499px){ 

	// COUNTRY SELECT

	.subPageTitle img {display: none;}
    .countryBox {width: 100%;}
	.countryItem {width: 100%; margin-right: 0;
		&:last-child {margin-bottom: 0;}
	}

	body.countrySelectPage {
		.pageContent.subPageContent {padding: 30px 0;}
	}

	// LOGIN
	.socialLoginBox {display: block;
		.btn {width: 100%;
			&:first-child {margin-bottom: 10px;}
		}
	}

	// REG

	.inputRow {display: block;
		.inputBox {margin-bottom: 20px;}
	}

	// PARTNER REG

	#partnerRegForm fieldset {margin-bottom: 20px;}
	fieldset legend {font-size: 16px;}

	// ARTICLE INNER

	.subPageAside .articlesWrapper {
		.articlesBox {width: 100%; flex-wrap: wrap; 
			.articleItem {width: 100%; margin-right: 0;}
		}
	}

	// ARTICLES

	.articleItem {width: 100%;
		&.bigItem {width: 100%;}
	}

	

	// INDEX

	.pageContent {padding-bottom: 30px;}

	.offersWrapper {width: calc(100% + 40px); margin-left: -20px;
		.offerItem {border-radius: 0;
			.imgBox {border-radius: 0;}
		}
		.offersAndArticlesBox & {width: calc(100% + 40px);}
	}

	.offersBox {width: 100%;}
	.offerItem {width: 100%; margin-right: 0px; 
		.offersWrapper & {margin-bottom: 20px;}
		.listView & {width: 100%;}
	}

	.offersAndArticlesBox .articlesWrapper .articlesBox {width: 100%; flex-wrap: wrap;
		.articleItem {width: 100%; margin-right: 0px;}
	}

	.footerBoxes {
		> div {width: 100%; margin-top: 5px;
			&:first-child {margin-top: 0;}
		}
	}

	.footerNav li {text-align: center;}

	// PROFILE

	#profileForm fieldset {margin-bottom: 20px;}

	.inputRow .btn {width: 100%; margin-bottom: 10px;
		&:last-child {margin-bottom: 0px;}
	}

	// VOUCHERS

	.basketTable td, .vouchersTable td {padding: 20px 0;}
	.basketTable tr:first-child td, .vouchersTable tr:first-child td {padding-right: 0;}

	.tableMobileInfo {margin-bottom: 0;
		li {margin-bottom: 5px;
			&:last-child {margin-bottom: 0;}
		}
		span {font-size: 10px; line-height: 12px;}
	}
	.basketTable .offerItem, .vouchersTable .offerItem {flex-wrap: wrap;
		.imgBox {width: 100%}
		.textBox {width: 100%; padding-top: 10px; padding-left: 0;}
	}

	// SUCCESS PAYMENT 

	.vouchersBox {margin-bottom: 30px;}

	.basketNav .btn {width: 100%; margin-bottom: 10px;
		&:last-child {margin-bottom: 0;}
	}

	// VOUCHER CHECK

	.voucherCheckBox {margin: 0;
		> p {text-align: left;}
		.inputBox input {font-size: 24px;}
	}

	// BASKET

	.basketNav {flex-wrap: wrap;}
	.removeTd {padding-right: 15px !important;}
	.removeBasketItem {margin-top: 0;}
	.giftWrapper {margin-top: 10px;}
	.summaryBox.noBorder {margin-top: 20px;}
	.couponBox, .couponBox form {flex-wrap: wrap;
		.inputBox {width: 100%; margin-right: 0; margin-bottom: 10px;}
		.btn {width: 100%;}
	}
	.summaryList li span {margin-left: 20px;}

	// BASKET LOGIN

	.basketLoginBox .btn {width: 100%;}

	.btnWrap .btn {width: 100%; margin-bottom: 10px;
		&:last-child {margin-bottom: 0;}
	}

	// HELLO NACHBARN

	.filterWrapper {margin-bottom: 20px;
		.cityAndRadiusBox {width: 100%; margin-bottom: 0px;
			.inputBox {width: 100% !important; margin-bottom: 20px;}
		}
		.filterBox {width: 100%;
			form {width: 100%;}
		}
	}

	// OFFERS

	.filterBox {margin-bottom: 20px;
		form {flex-wrap: wrap;
			.inputBox {width: 100%;}
		}
	}

	// OFFER INNER

	.offerMainInfos .offerPriceBox {margin-top: 30px;
		.newPrice {margin-bottom: 5px; font-size: 24px; line-height: 28px;}
		.oldPrice {font-size: 16px; line-height: 20px;}
	}
	.offerTopBox {margin-bottom: 30px;}
	.offerDetailsBox {margin-bottom: 20px;}
	#mapBox {height: 250px; margin-top: 20px;}

	.printItBtn {margin-top: 20px;}

	// ABOUT US

	.ourTeam {width: 100%; margin-top: 40px;
		.teamMember {width: 100%; margin: 0 0 30px 0;
			&:last-child {margin-bottom: 0;}
		}
	}
}