@import url(../js/plugins/owl-carousel/assets/owl.carousel.min.css);
@import url(../js/plugins/lightpicker/lightpick.css);
@import url(../js/plugins/select2/css/select2.min.css);
@import url(../js/plugins/lightgallery/css/lightgallery.min.css);
@import url(../js/plugins/lightslider/css/lightslider.min.css);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* make sure to set some focus styles for accessibility */
:focus {
  outline: 0;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  max-width: 100%;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */
[hidden] {
  display: none;
}

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  text-decoration: none;
  outline: none;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  text-decoration: none;
  outline: none;
}

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */
}

/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */
figure {
  margin: 0;
}

/**
 * Correct margin displayed oddly in IE 6/7.
 */
form {
  margin: 0;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */
}

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */
}

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 3+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
button,
input,
select,
textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: none;
}

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

pre {
  white-space: normal;
}

mark {
  background-color: transparent;
}

hr {
  height: 1px;
  margin: 0;
  background-color: #000;
  border: none;
}

input, textarea {
  width: 100%;
  line-height: normal;
  border: 0;
  border-radius: 0;
  cursor: pointer;
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
}

input[type=text]::-ms-clear {
  display: none;
}

input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
  margin: 0;
  -webkit-appearance: none;
}

input[type=number] {
  -moz-appearance: textfield;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.ms_UL, .balanceBox h3 {
  font-family: 'Montserrat';
  font-weight: 200;
}

.ms_L, .loginAndRegPageContent .titleBox h2, .subPageSubTitle {
  font-family: 'Montserrat';
  font-weight: 300;
}

.ms_R, .headerPopup p, .lightpick > h3, .lightpick__month-title > .lightpick__select, .lightpick__day-of-the-week, .lightpick__day, .mobileMenu a, .usableDatePickerDropdown > h3, .savedOffersDropdown > h3, .itsMeBox h4, .itsMeBox p, .profileMenu a, .loginLink, .badge, .mainNav > ul > li > a, .subCatMenu a, .nachbarnDropdown > p, .subOffers > h5, .seenOffers > h5, .offerItem .hoverBox p, .offerItem .distanceBox span, .offerItem.typeAd > p, .offerPriceBox .oldPrice, .toAllSavedOffer, .loadMoreBtn, .offersMenu a, .offerMainInfos h5, .offerMainInfos p, .offerMainInfos .offerPriceBox .oldPrice, .select2-container .select2-selection--single .select2-selection__rendered, .select2-results__option, .select2-container--default .select2-search--dropdown .select2-search__field, .articlesWrapper > h3, .articleItem p, .articleItem span, .articleDate, .footerBoxes > div > h3, .footerBoxes > div > p, .footerNav a, .copyright, .loginContent p, .regContent p, .forgottenPwContent p, .sendInEmailContent p, .socialLoginBox span, .separatorBox span, fieldset legend, .inputBox label, .inputBox input, .inputBox select, .inputBox textarea, .chbLabel, .radioLabel, .forgottenPwLink, .genderRadioBox > span, .changeModalLink, .changePageLink, .toRegPageBox span, .toLoginPageBox span, .thanksBox p, .mainTextBox p, .mainTextBox a, .mainTextBox blockquote, .mainTextBox > ul li, .mainTextBox > ol li, .teamMember h6, .teamMember span, .teamMember a, .teamMember p, .contactInfoBox h6, .contactInfoBox p, .contactInfoBox a, .profilePageNav a, .balanceBox p, .vouchersWrapper > h5, .vouchersTable th, .basketTable th, .vouchersTable td, .basketTable td, .tableMobileInfo span, .basketMenu a, .basketMenu a > div, .summaryList li, .summaryList li span, .paymentInfo, .basketLoginBox > div h4, .basketLoginBox > div p, .partnerMenu a, .voucherCheckBox > p {
  font-family: 'Montserrat';
  font-weight: 400;
}

.ms_M, .articleItem h4, .mainTextBox > ol li:before, .paymentOptions .radioLabel {
  font-family: 'Montserrat';
  font-weight: 500;
}

.ms_B, .subCatMenu .active a, .btn, .offerItem .textBox h4, .discountBox p, .offerPriceBox .newPrice, .offersMenu .active a, .offerMainInfos .offerPriceBox .newPrice, .mainLogo .select2-container .select2-selection--single .select2-selection__rendered, #select2-countrySelect-results .select2-results__option, .loginContent > h1, .loginContent > h5, .regContent > h1, .regContent > h5, .forgottenPwContent > h1, .forgottenPwContent > h5, .sendInEmailContent > h1, .sendInEmailContent > h5, .formBox > h6, .thanksBox h3, .subPageTitle, .mainTextBox h1, .mainTextBox h2, .mainTextBox h3, .mainTextBox h4, .mainTextBox h5, .mainTextBox h6, .mainTextBox strong, .basketMenu .active a, .basketMenu .active a > div, .summaryList li.finalPrice span, .partnerMenu li.active a, .faqList > li header h3 {
  font-family: 'Montserrat';
  font-weight: 700;
}

@font-face {
  font-family: "myfont";
  src: url("../fonts/myfont.eot");
  src: url("../fonts/myfont.eot?#iefix") format("eot"), url("../fonts/myfont.woff2") format("woff2"), url("../fonts/myfont.woff") format("woff"), url("../fonts/myfont.ttf") format("truetype"), url("../fonts/myfont.svg#myfont") format("svg");
  font-weight: normal;
  font-style: normal;
}

.icon {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  font-family: "myfont" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translateY(-2px);
}

.icon:before {
  display: inline-block;
  font-family: "myfont";
  font-style: normal;
  font-weight: normal;
  vertical-align: top;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-add:before {
  content: "\EA01";
}

.icon-arrowDown:before {
  content: "\EA02";
}

.icon-arrowLeft:before {
  content: "\EA03";
}

.icon-arrowRight:before {
  content: "\EA04";
}

.icon-arrowSelect:before {
  content: "\EA05";
}

.icon-arrowUp:before {
  content: "\EA06";
}

.icon-banner:before {
  content: "\EA07";
}

.icon-calendar:before {
  content: "\EA08";
}

.icon-camera:before {
  content: "\EA09";
}

.icon-cancel:before {
  content: "\EA0A";
}

.icon-cart:before {
  content: "\EA0B";
}

.icon-check:before {
  content: "\EA0C";
}

.icon-close:before {
  content: "\EA0D";
}

.icon-close2:before {
  content: "\EA0E";
}

.icon-close3:before {
  content: "\EA0F";
}

.icon-delete:before {
  content: "\EA10";
}

.icon-eye:before {
  content: "\EA11";
}

.icon-facebook-share:before {
  content: "\EA12";
}

.icon-facebook:before {
  content: "\EA13";
}

.icon-globe:before {
  content: "\EA14";
}

.icon-gps:before {
  content: "\EA15";
}

.icon-group:before {
  content: "\EA16";
}

.icon-instagram:before {
  content: "\EA17";
}

.icon-linkedin:before {
  content: "\EA18";
}

.icon-mail:before {
  content: "\EA19";
}

.icon-minus:before {
  content: "\EA1A";
}

.icon-next:before {
  content: "\EA1B";
}

.icon-pin:before {
  content: "\EA1C";
}

.icon-play:before {
  content: "\EA1D";
}

.icon-previous:before {
  content: "\EA1E";
}

.icon-profile:before {
  content: "\EA1F";
}

.icon-radar:before {
  content: "\EA20";
}

.icon-rss:before {
  content: "\EA21";
}

.icon-search:before {
  content: "\EA22";
}

.icon-twitter:before {
  content: "\EA23";
}

.icon-warning:before {
  content: "\EA24";
}

.clearfix:before, .clearfix:after {
  display: table;
  content: "";
}

.clearfix:after {
  clear: both;
}

body.menuIn {
  position: fixed;
  top: 0;
  left: 0;
}

body.countrySelectPage .headerInputsBox .inputBox.searchBox {
  display: none;
}

body.countrySelectPage .mainNavBox {
  height: 50px;
}

body.countrySelectPage .mainNav {
  display: none;
}

body.countrySelectPage .pageContent.subPageContent {
  padding: 70px 0 40px;
}

body.countrySelectPage .headSearchBox {
  display: none;
}

body.countrySelectPage .countrySelector {
  display: none;
}

.container {
  width: 1140px;
  max-width: calc(100% - 40px);
  margin: 0 auto;
}

.dropdownParent {
  position: relative;
}

.dropdownParent .dropdown {
  position: absolute;
  display: none;
  top: 100%;
  right: 0;
  border-radius: 5px;
  background: white;
  box-shadow: 0px 10px 20px 0 rgba(0, 0, 0, 0.2);
  z-index: 15;
}

.mainNav .dropdownParent:not(.helloNachbarn) {
  position: static;
}

.mainNav .dropdownParent:not(.helloNachbarn) .dropdown {
  width: 100%;
  right: auto;
  left: 0;
  padding: 20px;
}

.dropdownParent.hoverOpen:hover .dropdown {
  display: flex;
}

.dropdownParent.hoverOpen:hover.helloNachbarn .dropdown {
  display: block;
}

.headerPopup {
  position: absolute;
  display: none;
  width: 200px;
  top: calc(100% + 3px);
  padding: 20px;
  background: #00b267;
  border-radius: 8px;
  box-shadow: 0px 10px 30px 0 rgba(0, 0, 0, 0.3);
}

.headerPopup p {
  max-width: 110px;
  font-size: 16px;
  line-height: 20px;
  color: white;
}

.headerPopup.cityPopup {
  right: 0;
}

.headerPopup.cityPopup img {
  margin-left: 20px;
}

.headerPopup.datePopup {
  left: 0;
}

.headerPopup.datePopup img {
  margin-right: 20px;
}

.lightpick {
  padding: 40px;
  box-shadow: 0px 10px 20px 0 rgba(0, 0, 0, 0.2);
}

.lightpick > h3 {
  margin-bottom: 35px;
  font-size: 26px;
  line-height: 28px;
  color: #454f63;
}

.lightpick__inner {
  position: relative;
}

.lightpick__toolbar {
  position: absolute;
  display: block;
  width: 100%;
}

.lightpick__toolbar button {
  width: 36px;
  height: 36px;
  margin: 0;
  padding-top: 5px;
  background: transparent;
  border: 1px solid #cfd5de;
  border-radius: 4px;
}

.lightpick__toolbar button i {
  color: #959cac;
}

.lightpick__toolbar button.lightpick__previous-action {
  float: left;
}

.lightpick__toolbar button.lightpick__next-action {
  float: right;
}

.lightpick__months {
  grid-gap: 24px;
  background: transparent;
}

.lightpick__month {
  padding: 0;
}

.lightpick__month:nth-child(odd) .lightpick__month-title-bar {
  padding-left: 42px;
}

.lightpick__month:nth-child(even) .lightpick__month-title-bar {
  padding-right: 42px;
  justify-content: flex-end;
}

.lightpick__month-title {
  margin: 6px 0 0 0;
  padding: 0;
}

.lightpick__month-title > .lightpick__select {
  width: auto;
  height: auto;
  padding: 0;
  font-size: 16px;
  line-height: 18px;
  color: #454f63;
  text-align: left;
}

.lightpick__month-title > .lightpick__select option {
  width: 0;
  padding: 0 !important;
}

.lightpick__days-of-the-week {
  margin: 18px 0 5px;
}

.lightpick__day-of-the-week {
  font-size: 10px;
  line-height: 16px;
  color: #B5B6B5;
}

.lightpick__day {
  margin: -1px 0 0 -1px;
  border: 1px solid #E5E8E8;
  font-size: 12px;
  line-height: 16px;
}

.lightpick__day.is-today {
  background: transparent;
  color: #00b267;
}

.lightpick__day.is-previous-month, .lightpick__day.is-next-month {
  opacity: 0;
}

.lightpick__day.is-start-date.is-in-range, .lightpick__day.is-end-date.is-in-range.is-flipped {
  background: #019847;
  border-radius: 0;
}

.lightpick__day.is-end-date.is-in-range, .lightpick__day.is-start-date.is-in-range.is-flipped {
  background: #019847;
  border-radius: 0;
}

.lightpick__day.is-in-range {
  background: #63BF8E;
  border-color: #41B277;
  color: white;
}

.lightpick__toolbar button {
  position: relative;
  z-index: 2;
}

.lightpick__toolbar button i {
  position: relative;
  z-index: -1;
}

.lightpick__month {
  width: 245px;
}

.lightpick__day {
  height: 36px;
}

.lSSlideOuter {
  position: relative;
  z-index: 5;
}

.fade {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

.fade.in {
  opacity: 1;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9;
  background-color: #000;
}

.modal-backdrop.fade {
  opacity: 0;
  filter: alpha(opacity=0);
}

.modal-backdrop.in {
  opacity: 0.9;
  filter: alpha(opacity=90);
}

.modal {
  z-index: 10;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  cursor: pointer;
  outline: 0;
}

.modal.fade .modal-dialog {
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  -moz-transition: -moz-transform 0.3s ease-in-out;
  -o-transition: -o-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
}

.modal-dialog {
  cursor: default;
}

.modal-content {
  position: relative;
  background-color: #FFF;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  outline: 0;
}

.modal-open {
  overflow: hidden;
}

.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}

.pageHeader {
  position: relative;
  z-index: 15;
}

.pageHeader.fixPos {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}

.mainHeader {
  position: relative;
  padding: 12px 0;
  background: white;
  z-index: 6;
}

.mainLogo {
  float: left;
  margin-top: 2px;
}

.mainLogo img {
  vertical-align: top;
}

.mainLogo img.mobileLogo {
  display: none;
}

.menuOpen {
  position: absolute;
  display: none;
  top: 22px;
  left: 20px;
  padding: 7px 0;
  z-index: 10;
}

.menuOpen span {
  position: relative;
  display: block;
  width: 20px;
  height: 2px;
  background: white;
}

.menuOpen span:before, .menuOpen span:after {
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background: white;
  content: "";
}

.menuOpen span:before {
  top: -7px;
}

.menuOpen span:after {
  bottom: -7px;
}

.menuIn .menuOpen span {
  background: transparent !important;
}

.menuIn .menuOpen span:before {
  top: 0;
  transform: rotate(45deg);
}

.menuIn .menuOpen span:after {
  bottom: 0;
  transform: rotate(-45deg);
}

.countrySelector {
  float: left;
  margin: 10px 0 0 15px;
}

.countrySelector i {
  font-size: 20px;
  color: #959cac;
}

.menuBox {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  background: #f8f8f8;
  z-index: 9;
}

.menuBox header {
  padding: 16px 20px 19px;
  background: #00b267;
  text-align: center;
}

.menuBox header img {
  width: 175px;
}

.menuIn .menuBox {
  display: block;
}

.menuBox .itsMeBox {
  padding: 10px 20px;
}

.menuBox .itsMeBox h4 {
  margin-bottom: 0;
  font-size: 20px;
}

.mobileMenu {
  margin-bottom: 20px;
}

.mobileMenu li {
  border-bottom: 1px solid #cfd5de;
}

.mobileMenu li:last-child {
  border-bottom: 0;
}

.mobileMenu a {
  display: flex;
  padding: 14px 20px;
  background: white;
  font-size: 14px;
  line-height: 20px;
  color: #454f63;
  justify-content: space-between;
  transition: color 0.2s ease-in-out;
}

.mobileMenu a i {
  position: relative;
  top: 6px;
  color: #00b267;
}

.mobileMenu a:hover {
  color: #00b267;
}

.mobileMenu:last-child {
  margin-bottom: 0;
}

.headerActions {
  float: right;
}

.headerActions {
  display: flex;
}

.headerActions > div {
  height: 36px;
  margin-left: 20px;
  padding-left: 20px;
  border-left: 1px solid #cfd5de;
}

.headerActions > div:first-child {
  margin-left: 0;
  border: 0;
}

.headerInputsBox {
  display: flex;
}

.headerInputsBox .inputBox {
  position: relative;
  width: 150px;
  margin-right: 10px;
  margin-bottom: 0;
  z-index: 2;
}

.headerInputsBox .inputBox input {
  padding-left: 30px;
  background: transparent;
}

.headerInputsBox .inputBox > i {
  position: absolute;
  top: 12px;
  left: 5px;
  font-size: 16px;
  color: #959cac;
  z-index: -1;
}

.headerInputsBox .inputBox > i.icon-cancel {
  display: none;
  right: 5px;
  left: auto;
  cursor: pointer;
  z-index: 5;
  transition: color 0.2s ease-in-out;
}

.headerInputsBox .inputBox > i.icon-cancel:hover {
  color: #ff1866;
}

.headerInputsBox .inputBox.locBox {
  width: 140px;
}

.headerInputsBox .inputBox.searchBox {
  width: 250px;
}

.headerInputsBox .inputBox:last-child {
  margin-right: 0;
}

.locBox {
  position: relative;
  background: white;
  z-index: 0;
}

.locBox i {
  position: absolute;
  top: 12px;
  left: 5px;
  font-size: 16px;
  color: #959cac;
  z-index: -1;
}

.locBox i.icon-cancel {
  display: none;
  right: 5px;
  left: auto;
  cursor: pointer;
  z-index: 5;
  transition: color 0.2s ease-in-out;
}

.locBox i.icon-cancel:hover {
  color: #ff1866;
}

.locBox .select2-container--default .select2-selection--single .select2-selection__arrow {
  display: none;
}

.usableDateBox.active > i {
  color: white;
  z-index: 2;
}

.usableDateBox.active #usableDatePicker {
  background: #00b267;
  border-color: #00b267;
  color: white;
}

.usableDatePickerDropdown {
  padding: 40px;
}

.usableDatePickerDropdown > h3 {
  margin-bottom: 35px;
  font-size: 26px;
  line-height: 28px;
  color: #454f63;
}

.headSearchBox {
  display: none;
}

.headSearchBox > a {
  position: relative;
  display: inline-block;
  margin-top: 10px;
  cursor: pointer;
}

.headSearchBox > a i {
  font-size: 21px;
  color: white;
}

.savedOffersBox {
  position: relative;
}

.savedOffersBox > a {
  position: relative;
  display: inline-block;
  margin-top: 10px;
  cursor: pointer;
}

.savedOffersBox > a i {
  font-size: 21px;
  color: #959cac;
  transition: color 0.2s ease-in-out;
}

.savedOffersBox > a:hover i {
  color: #00b267;
}

.savedOffersBox.active i {
  color: #00b267;
}

.savedOffersDropdown {
  top: calc(100% + 15px) !important;
  right: -25px !important;
  width: 500px;
  padding: 25px 20px 20px;
}

.savedOffersDropdown > h3 {
  margin-bottom: 20px;
  font-size: 26px;
  line-height: 28px;
  color: #454f63;
}

.savedOffersDropdown:before {
  position: absolute;
  top: 0;
  right: 20px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 13px 13px 13px;
  border-color: transparent transparent #ffffff transparent;
  transform: translate(0, -100%);
  content: "";
}

.loginBox {
  position: relative;
}

.loginBox > a {
  position: relative;
  display: inline-block;
  margin-top: 11px;
  cursor: pointer;
  transition: color 0.2s ease-in-out;
}

.loginBox > a:hover {
  color: #00b267;
}

.loginBox > a:hover i {
  color: #00b267;
}

.loginBox > a i {
  font-size: 22px;
  color: #959cac;
  transition: color 0.2s ease-in-out;
}

.loginBox.active i {
  color: #00b267;
}

.profileDropdown {
  width: 310px;
  top: calc(100% + 15px) !important;
  right: -25px !important;
  padding: 25px 20px;
}

.profileDropdown:before {
  position: absolute;
  top: 0;
  right: 20px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 13px 13px 13px;
  border-color: transparent transparent #ffffff transparent;
  transform: translate(0, -100%);
  content: "";
}

.itsMeBox h4 {
  margin-bottom: 8px;
  font-size: 26px;
  line-height: 28px;
  color: #454f63;
}

.itsMeBox p {
  font-size: 14px;
  line-height: 16px;
  color: #959cac;
}

.profileMenu {
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid #cfd5de;
}

.profileMenu li {
  margin-top: 25px;
}

.profileMenu li:first-child {
  margin-top: 0;
}

.profileMenu li.logoutLink {
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid #cfd5de;
}

.profileMenu a {
  font-size: 16px;
  line-height: 18px;
  color: #454f63;
  cursor: pointer;
  transition: color 0.2s ease-in-out;
}

.profileMenu a:hover {
  color: #00b267;
}

.loginLink {
  display: inline-block;
  margin-top: 10px;
  font-size: 14px;
  line-height: 16px;
  color: #454f63;
}

.toTheCartBox {
  position: relative;
}

.toTheCartBox a {
  position: relative;
  display: inline-block;
  margin-top: 10px;
  cursor: pointer;
}

.toTheCartBox a:hover i {
  color: #00b267;
}

.toTheCartBox i {
  font-size: 21px;
  color: #959cac;
  transition: color 0.2s ease-in-out;
}

.badge {
  position: absolute;
  top: -2px;
  right: -3px;
  padding: 3px 6px;
  background: #ff1866;
  border-radius: 9px;
  font-size: 10px;
  line-height: 12px;
  color: white;
  transform: translate(50%, -50%);
}

.mainNavBox {
  position: relative;
  background: #00b267;
  z-index: 5;
}

.mainNav {
  position: relative;
}

.mainNav > ul > li {
  float: left;
  padding: 17px 0;
  margin-right: 28px;
}

.mainNav > ul > li:first-child {
  float: left;
}

.mainNav > ul > li:last-child {
  float: right;
  margin: 0;
  padding: 10px 0 0;
}

.mainNav > ul > li > a {
  font-size: 14px;
  line-height: 16px;
  color: white;
  cursor: pointer;
  transition: opacity 0.2s ease-in-out;
}

.mainNav > ul > li > a:hover {
  opacity: 0.7;
}

.mainNav > ul > li.active > a {
  opacity: 0.7;
}

.subCatDropdown > div {
  width: 50%;
}

.subCatDropdown > div:first-child {
  border-right: 1px solid #cfd5de;
}

.subCatDropdown > div:last-child {
  padding-left: 20px;
}

.active .subCatDropdown {
  display: flex !important;
}

.subCatMenu {
  column-count: 2;
}

.subCatMenu li {
  margin-bottom: 20px;
}

.subCatMenu li:last-child {
  margin-bottom: 0;
}

.subCatMenu a {
  font-size: 14px;
  line-height: 16px;
  color: #959cac;
  cursor: pointer;
  transition: color 0.2s ease-in-out;
}

.subCatMenu a:hover {
  color: #00b267;
}

.subCatMenu .active a {
  color: #00b267;
}

.helloNachbarn {
  position: relative;
}

.helloNachbarn:hover .helloNachbarnBtn {
  background: white;
  color: #00b267;
  opacity: 1;
}

.helloNachbarn:hover .helloNachbarnBtn i {
  color: #00b267;
}

.helloNachbarn.active .helloNachbarnBtn {
  background: white;
  color: #00b267;
  opacity: 1;
}

.helloNachbarn.active .helloNachbarnBtn i {
  color: #00b267;
}

.helloNachbarnBtn {
  display: block;
  padding: 10px 10px 6px !important;
  border: 1px solid white;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.helloNachbarnBtn i {
  position: relative;
  margin-left: 5px;
  font-size: 5px;
  color: white;
  transition: color 0.2s ease-in-out;
}

.nachbarnDropdown {
  width: 330px;
  padding: 15px 10px 20px;
}

.nachbarnDropdown > p {
  margin-bottom: 20px;
  font-size: 12px;
  line-height: 16px;
  color: #454f63;
}

.nachbarnDropdown img {
  display: block;
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.btn {
  display: inline-block;
  min-width: 170px;
  padding: 12px 25px;
  border-radius: 4px;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.btn.greenBtn {
  background: #00b267;
  color: white;
}

.btn.greenBtn:hover {
  color: rgba(255, 255, 255, 0.8);
}

.btn.whiteBtn {
  background: white;
  color: #959cac;
}

.btn.greyBtn {
  border: 1px solid #959cac;
  color: #959cac;
}

.btn.greyBtn:hover {
  background: #959cac;
  color: white;
}

.btn.block {
  display: block;
  width: 100%;
}

.btn.rounded {
  border-radius: 20px;
}

.btn.remove:hover {
  background: #ff1866;
  border-color: #ff1866;
  color: white;
}

.btn.disabled {
  opacity: 0.5;
  pointer-events: none;
}

.pageContent {
  position: relative;
  padding: 30px 0 90px;
  background: #f8f8f8;
  z-index: 1;
}

.offersAndArticlesBox {
  display: flex;
}

.offersAndArticlesBox .offersWrapper {
  width: calc(100% - 290px);
}

.offersAndArticlesBox .articlesWrapper {
  width: 290px;
  padding-left: 75px;
}

.countryBox {
  display: flex;
  width: calc(100% + 30px);
  flex-wrap: wrap;
}

.countryItem {
  width: calc(33.3333% - 30px);
  margin-right: 30px;
  margin-bottom: 30px;
  border-radius: 8px;
  box-shadow: 0px 2px 6px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.countryItem .imgBox img {
  width: 100%;
}

.countryBody {
  padding: 20px;
  background: white;
}

.countryBody h3 {
  margin-bottom: 20px;
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #454f63;
  text-align: center;
}

.caroSection {
  margin-bottom: 30px;
}

.owl-dots {
  display: flex;
  margin-top: 10px;
  justify-content: center;
}

.owl-dot {
  margin-right: 15px;
  width: 10px;
  height: 10px;
}

.owl-dot span {
  display: block;
  width: 100%;
  height: 100%;
  background: #cfd5de !important;
  border-radius: 50%;
  transition: background 0.2s ease-in-out;
}

.owl-dot.active span {
  background: #00b267 !important;
}

.owl-dot:last-child {
  margin-right: 0;
}

#mainCaro.owl-carousel .owl-item img {
  width: auto !important;
}

.mainOffersSection {
  position: relative;
  z-index: 2;
}

.mainOffersBox {
  display: flex;
  width: calc(100% + 30px);
  margin-bottom: 30px;
  justify-content: space-between;
}

.mainOffersSection .mainOffersBox {
  display: block;
  width: 100%;
  margin-bottom: 0;
}

.mainOffersSection .mainOffersBox.owl-carousel .owl-stage-outer {
  width: calc(100% + 20px);
  margin: 0 0 0 -10px;
  padding: 0 10px 30px;
}

.lSSlideOuter .lSPager.lSpg {
  position: absolute;
  width: 100%;
  bottom: 10px;
  left: 0;
  margin-top: 0 !important;
  z-index: 20;
}

.lSSlideOuter .lSPager.lSpg > li a {
  background: #cfd5de;
}

.lSSlideOuter .lSPager.lSpg > li.active a, .lSSlideOuter .lSPager.lSpg > li:hover a {
  background: #00b267;
}

.offersBox {
  display: flex;
  width: calc(100% + 30px);
  flex-wrap: wrap;
  justify-content: flex-start;
}

.subOffers, .seenOffers {
  margin-top: 95px;
}

.subOffers .offersBox, .seenOffers .offersBox {
  width: 100%;
}

.subOffers .offersBox.owl-carousel .owl-stage-outer, .seenOffers .offersBox.owl-carousel .owl-stage-outer {
  width: calc(100% + 20px);
  margin: 0 0 0 -10px;
  padding: 0 10px 30px;
}

.subOffers > h5, .seenOffers > h5 {
  margin-bottom: 15px;
  font-size: 20px;
  line-height: 24px;
  color: #959cac;
}

.seenOffers {
  margin-top: 40px;
}

.offerItem {
  position: relative;
  display: block;
  width: calc(33.3333% - 30px);
  margin-right: 30px;
  background: white;
  border-radius: 8px;
  box-shadow: 0px 2px 6px 0 rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.4s ease-in-out;
}

.offerItem .hoverBox {
  position: absolute;
  display: none;
  top: calc(100% - 5px);
  left: 0;
  padding: 15px 10px 10px;
  background: white;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  box-shadow: 0px 16px 15px 0px rgba(0, 0, 0, 0.3);
  z-index: 11;
}

.offerItem .hoverBox p {
  font-size: 12px;
  line-height: 20px;
  color: #454f63;
}

.offerItem .imgBox {
  position: relative;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  overflow: hidden;
}

.offerItem .imgBox img {
  display: block;
  width: 100%;
  height: auto;
  transition: all 0.4s ease-in-out !important;
}

.offerItem .textBox {
  padding: 12px;
}

.offerItem .textBox h4 {
  font-size: 16px;
  line-height: 20px;
  color: #454f63;
  text-align: left;
  transition: color 0.2s ease-in-out;
}

.offerItem .distanceBox {
  position: absolute;
  right: 12px;
  bottom: 12px;
}

.offerItem .distanceBox span {
  font-size: 14px;
  line-height: 16px;
  color: #959cac;
}

.offerItem .saveOffer {
  margin-left: 7px;
  cursor: pointer;
}

.offerItem .saveOffer i {
  font-size: 20px;
  color: #959cac;
  transition: color 0.2s ease-in-out;
}

.offerItem .saveOffer:hover i {
  color: #00b267;
}

.offerItem .saveOffer.saved i {
  color: #00b267;
}

.offerItem .saveOffer.saved:hover i {
  color: #ff1866;
}

.offersWrapper .offerItem {
  margin-bottom: 30px;
}

.savedOffersList .offerItem {
  display: flex;
  width: 100%;
  box-shadow: none;
}

.savedOffersList .offerItem .discountBox {
  border-radius: 0;
}

.savedOffersList .offerItem .imgBox {
  width: 160px;
  border-radius: 0;
}

.savedOffersList .offerItem .imgBox img {
  min-height: 110px;
}

.savedOffersList .offerItem .textBox {
  width: calc(100% - 160px);
  padding: 0 25px 0 20px;
}

.savedOffersList .offerItem .textBox h4 {
  min-height: 60px;
}

.savedOffersList .offerItem .offerPriceBox {
  margin-top: 5px;
}

.vouchersTable .offerItem, .basketTable .offerItem {
  display: flex;
  width: 100%;
  margin-right: 0;
  box-shadow: none;
}

.vouchersTable .offerItem .discountBox, .basketTable .offerItem .discountBox {
  padding: 10px 8px;
  border-radius: 0;
}

.vouchersTable .offerItem .discountBox p, .basketTable .offerItem .discountBox p {
  font-size: 12px;
  line-height: 14px;
}

.vouchersTable .offerItem .imgBox, .basketTable .offerItem .imgBox {
  width: 110px;
  border-radius: 0;
}

.vouchersTable .offerItem .imgBox img, .basketTable .offerItem .imgBox img {
  min-height: 80px;
}

.vouchersTable .offerItem .textBox, .basketTable .offerItem .textBox {
  width: 280px;
  padding: 0 25px 0 20px;
}

.vouchersTable .offerItem .textBox h4, .basketTable .offerItem .textBox h4 {
  min-height: 50px;
  margin-bottom: 14px;
}

.listView .offerItem {
  width: calc(25% - 30px);
}

.subOffers .offerItem {
  width: calc(25% - 30px);
}

.subPageAside .subOffers .offerItem {
  width: 100%;
  margin-right: 0;
  margin-bottom: 30px;
}

.subPageAside .subOffers .offerItem:last-child {
  margin-bottom: 0;
}

.offerItem.bigItem {
  width: calc(50% - 30px);
}

.offerItem.typeAd {
  background: transparent;
  border-radius: 0;
  box-shadow: unset;
}

.offerItem.typeAd:hover {
  box-shadow: unset;
}

.offerItem.typeAd:hover .textBox h4 {
  color: #00b267;
}

.offerItem.typeAd .imgBox {
  border-radius: 0;
}

.offerItem.typeAd > p {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  font-size: 14px;
  line-height: 16px;
  color: #00b267;
  text-align: center;
}

.offerItem.typeSeasonable .imgBox {
  height: 100%;
  border-radius: 8px;
}

.offerItem.typeSeasonable .imgBox img {
  min-width: 100%;
  min-height: 100%;
}

.offerItem.typeSeasonable .textBox {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  padding-top: 30px;
  padding-bottom: 30px;
  background: rgba(0, 0, 0, 0.3);
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}

.offerItem.typeSeasonable .textBox h4 {
  font-size: 24px;
  line-height: 30px;
  color: white;
}

.subCatDropdown .offerItem {
  width: calc(50% - 25px);
  margin-right: 20px;
}

.subCatDropdown .offerItem .imgBox {
  height: 100%;
  border-radius: 8px;
}

.subCatDropdown .offerItem .imgBox .imgCaroBox {
  display: flex;
  justify-content: center;
}

.subCatDropdown .offerItem .imgBox img {
  width: auto;
  min-width: 0;
  min-height: 255px;
}

.subCatDropdown .offerItem .textBox {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  background: rgba(0, 0, 0, 0.3);
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  z-index: 10;
}

.subCatDropdown .offerItem .textBox h4 {
  font-size: 14px;
  line-height: 20px;
  color: white;
}

.offerItem .imgCaroBox {
  display: block;
}

.offerItem .owl-dots {
  position: absolute;
  width: 100%;
  bottom: 10px;
  left: 0;
}

.offerItem:hover {
  box-shadow: 0px 5px 15px 0 rgba(0, 0, 0, 0.3);
}

.offerItem:hover .imgCaroBox img {
  transform: scale(1.2);
}

.offerItem:hover .hoverBox {
  display: block;
}

.savedOffersDropdown .offerItem:hover {
  box-shadow: unset;
}

.savedOffersDropdown .offerItem:hover .textBox h4 {
  color: #00b267;
}

.savedOffersDropdown .offerItem:hover .imgBox img {
  transform: scale(1);
}

table .offerItem:hover {
  box-shadow: unset;
}

table .offerItem:hover .textBox h4 {
  color: #00b267;
}

table .offerItem:hover .imgBox img {
  transform: scale(1);
}

.owl-item .offerItem {
  width: 100%;
}

.subPageContent .mainOffersBox.owl-carousel .owl-stage-outer {
  overflow: hidden;
}

.lSSlideWrapper.usingCss .lSFade > * {
  transition: all 0.2s ease-in-out !important;
}

.offerStatusBox {
  position: absolute;
  display: flex;
  width: 100%;
  top: 0;
  right: 0;
  padding-left: 5px;
  z-index: 10;
  justify-content: flex-end;
}

.offerStatusBox .statusBox {
  display: flex;
  margin-right: 3px;
}

.offerStatusBox .statusItem {
  margin-right: 3px;
  padding: 10px 6px 18px;
  background-image: url("../img/banner.svg");
  overflow: visible;
}

.offerStatusBox .statusItem:last-child {
  margin-right: 0;
}

.discountBox {
  padding: 10px 12px;
  background: rgba(0, 0, 0, 0.5);
  border-top-right-radius: 8px;
}

.discountBox p {
  font-size: 16px;
  line-height: 20px;
  color: white;
}

.offerTopBox .discountBox {
  border-radius: 0;
}

.offerPriceBox {
  margin-top: 25px;
}

.offerPriceBox .newPrice {
  display: block;
  margin-bottom: 6px;
  font-size: 24px;
  line-height: 26px;
  color: #ff1866;
}

.offerPriceBox .oldPrice {
  font-size: 14px;
  line-height: 16px;
  color: #959cac;
}

.savedOffersList li {
  position: relative;
  margin-bottom: 8px;
  padding-bottom: 8px;
  border-bottom: 1px solid #cfd5de;
}

.removeSavedOffer {
  position: absolute;
  top: 4px;
  right: 0;
  cursor: pointer;
}

.removeSavedOffer i {
  font-size: 12px;
  color: #959cac !important;
  transition: color 0.2s ease-in-out;
}

.removeSavedOffer:hover i {
  color: #ff1866 !important;
}

.toAllSavedOffer {
  font-size: 16px;
  line-height: 18px;
  color: #454f63;
  transition: color 0.2s ease-in-out;
}

.toAllSavedOffer:hover {
  color: #00b267;
}

.loadMoreBtn {
  display: block;
  padding: 12px;
  border: 1px solid #cfd5de;
  border-radius: 4px;
  font-size: 16px;
  line-height: 16px;
  color: #959cac;
  text-align: center;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.loadMoreBtn:hover {
  background: #959cac;
  border-color: #959cac;
  color: white;
}

.offersMenu li {
  margin-bottom: 12px;
}

.offersMenu li:last-child {
  margin-bottom: 0;
}

.offersMenu a {
  font-size: 14px;
  line-height: 16px;
  color: #959cac;
  cursor: pointer;
  transition: color 0.2s ease-in-out;
}

.offersMenu a:hover {
  color: #00b267;
}

.offersMenu .active a {
  color: #00b267;
}

.offerTopBox {
  margin-bottom: 50px;
}

.offerMainInfos h5 {
  margin-bottom: 10px;
  font-size: 20px;
  line-height: 22px;
  color: #959cac;
}

.offerMainInfos p {
  font-size: 14px;
  line-height: 20px;
  color: #959cac;
}

.offerMainInfos .btn {
  margin-bottom: 10px;
}

.offerMainInfos .btn.saveOfferBtn {
  margin-bottom: 20px;
}

.offerMainInfos .offerPriceBox {
  margin-top: 50px;
  margin-bottom: 20px;
  padding-top: 20px;
  border-top: 1px solid #cfd5de;
}

.offerMainInfos .offerPriceBox .newPrice {
  display: block;
  margin-bottom: 10px;
  font-size: 36px;
  line-height: 38px;
  color: #ff1866;
}

.offerMainInfos .offerPriceBox .oldPrice {
  font-size: 20px;
  line-height: 22px;
  color: #959cac;
}

.offerMainInfos i {
  margin-right: 10px;
}

.offerMainInfos .shareBox {
  margin-top: 30px;
  padding-top: 10px;
  border-top: 1px solid #cfd5de;
}

.offerMainInfos.typeAd .btn.greenBtn, .offerMainInfos.typeAd input {
  display: none;
}

.offerDetailsBox {
  margin-bottom: 40px;
}

.offerDetailsBox:last-child {
  margin-bottom: 0;
}

.printItBtn {
  margin-top: 60px;
}

#mapBox {
  height: 340px;
  margin-top: 30px;
}

.gm-style > div:last-child, .gm-style button, .gmnoprint, .gm-style-cc {
  display: none;
}

.filterWrapper {
  display: flex;
  margin-bottom: 30px;
  justify-content: space-between;
}

.filterWrapper .filterBox {
  margin-bottom: 0;
}

.filterBox {
  display: flex;
  margin-bottom: 30px;
  justify-content: flex-end;
}

.filterBox .inputBox label {
  display: none;
}

.showOnMobile {
  display: none;
}

.select2-container--default .select2-selection--single {
  height: 36px;
  border: 0;
}

.select2-container .select2-selection--single .select2-selection__rendered {
  width: 100%;
  height: 36px;
  padding: 11px 30px 0 10px;
  background: white;
  border: 1px solid #d2d7db;
  border-radius: 4px;
  font-size: 12px;
  line-height: 12px;
  color: #454f63;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 36px;
}

.select2-results__option {
  padding: 10px;
  font-size: 12px;
  line-height: 12px;
  color: #454f63;
}

.select2-container--open .select2-dropdown--below {
  border: 0;
  box-shadow: 0px 10px 20px 0 rgba(0, 0, 0, 0.2);
}

.select2-container--default .select2-search--dropdown .select2-search__field {
  width: 100%;
  height: 36px;
  padding: 0 10px;
  background: white;
  border: 1px solid #d2d7db;
  border-radius: 4px;
  font-size: 12px;
  line-height: 12px;
  color: #454f63;
}

.locBox .select2-container--default .select2-selection--single {
  background: transparent;
}

.locBox .select2-container--default .select2-selection--single .select2-selection__rendered {
  padding-left: 30px;
  background: transparent;
}

.modal .locBox .select2-container {
  width: 100% !important;
}

.liveLocBox {
  width: 300px !important;
}

.liveLocBox .icon-cancel {
  display: none;
  right: 5px !important;
  left: auto !important;
  cursor: pointer;
  z-index: 5 !important;
  transition: color 0.2s ease-in-out;
}

.liveLocBox .icon-cancel:hover {
  color: #ff1866;
}

.liveLocBox .select2-container--default .select2-selection--single {
  background: transparent;
}

.liveLocBox .select2-container--default .select2-selection--single .select2-selection__rendered {
  padding-left: 30px;
  background: transparent;
}

.liveLocBox .select2-container--default .select2-selection--single .select2-selection__arrow {
  display: none;
}

.mainLogo .select2-container {
  width: auto;
}

.mainLogo .select2-container .select2-selection--single .select2-selection__rendered {
  width: auto;
  height: auto;
  padding: 7px 25px 7px 5px;
  background: white;
  border: 0;
  border-radius: 4px;
  font-size: 21px;
  line-height: 20px;
  color: #00b267;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.mainLogo .select2-container--default .select2-selection--single .select2-selection__arrow b {
  display: none;
}

#select2-countrySelect-results {
  padding: 10px 0;
}

#select2-countrySelect-results .select2-results__option {
  padding: 5px 40px;
  font-size: 16px;
  line-height: 16px;
  color: #959cac;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  white-space: nowrap;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background: rgba(0, 178, 103, 0.7);
  color: white;
}

#select2-countrySelect-results .select2-results__option--highlighted[aria-selected] {
  background: rgba(0, 178, 103, 0.7);
  color: white;
}

#select2-countrySelect-results .select2-results__option[aria-selected='true'] {
  background: transparent;
  color: #00b267;
}

.offersAndArticlesBox {
  position: relative;
  z-index: 1;
}

.articlesWrapper > h3 {
  margin-bottom: 15px;
  padding-bottom: 10px;
  border-bottom: 1px solid #00b267;
  font-size: 16px;
  line-height: 18px;
  color: #00b267;
  text-transform: uppercase;
}

.articlesWrapper > h3 a {
  color: inherit;
}

.articlesWrapper.underCategories {
  margin-top: 60px;
}

.articlesBox.listView {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.articleItem {
  width: calc(25% - 20px);
  margin-bottom: 60px;
  padding-bottom: 7px;
  border-bottom: 1px solid #00b267;
}

.articleItem .imgBox {
  width: 100%;
  margin-bottom: 12px;
}

.articleItem .imgBox img {
  display: block;
  width: 100%;
  height: auto;
}

.articleItem h4 {
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 22px;
  color: #454f63;
  transition: color 0.2s ease-in-out;
}

.articleItem p {
  font-size: 12px;
  line-height: 16px;
  color: #454f63;
}

.articleItem span {
  display: block;
  margin-top: 12px;
  font-size: 12px;
  line-height: 16px;
  color: #959cac;
}

.articleItem:hover h4 {
  color: #00b267;
}

.asideView .articleItem {
  display: block;
  width: 100%;
  margin-bottom: 15px;
  padding-bottom: 15px;
}

.asideView .articleItem:last-child {
  margin-bottom: 0;
}

.asideView .articleItem h4 {
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 20px;
}

.asideView .articleItem p {
  line-height: 14px;
}

.articleItem.bigItem {
  width: calc(33.3333% - 20px);
  margin-bottom: 70px;
}

.articleDate {
  display: block;
  margin-top: 12px;
  font-size: 14px;
  line-height: 16px;
  color: #00b267;
}

.loadArticles {
  display: none;
}

.loadArticles.showIt {
  display: block;
}

.pageFooter {
  padding: 65px 0 10px;
  background: #eceef0;
  overflow: hidden;
}

.footerBoxes {
  display: flex;
  margin-bottom: 65px;
}

.footerBoxes > div {
  width: 33.3333%;
}

.footerBoxes > div > h3 {
  margin-bottom: 35px;
  font-size: 20px;
  line-height: 22px;
  color: #959cac;
  text-transform: uppercase;
}

.footerBoxes > div > p {
  max-width: 340px;
  margin-bottom: 25px;
  font-size: 14px;
  line-height: 22px;
  color: #959cac;
}

.footerLogo {
  display: block;
  margin: -20px 0 42px;
}

.footerNav li {
  margin-bottom: 5px;
}

.footerNav li:last-child {
  margin-bottom: 0;
}

.footerNav a {
  font-size: 14px;
  line-height: 18px;
  color: #959cac;
  transition: color 0.2s ease-in-out;
}

.footerNav a:hover {
  color: #00b267;
}

.socialMenu {
  display: flex;
}

.socialMenu li {
  margin-right: 30px;
}

.socialMenu li:last-child {
  margin-right: 0;
}

.socialMenu a {
  display: block;
  cursor: pointer;
}

.socialMenu a:hover i {
  color: #00b267;
}

.socialMenu i {
  margin-top: 6px;
  font-size: 26px;
  color: #959cac;
  transition: color 0.2s ease-in-out;
}

.socialMenu i.icon-facebook {
  margin-top: 0;
  font-size: 34px;
}

.copyright {
  max-width: 150px;
  margin: 0 auto;
  font-size: 10px;
  line-height: 12px;
  color: #959cac;
}

.modal {
  z-index: 20;
}

.modal-backdrop {
  z-index: 19;
}

.modal-dialog {
  width: 580px;
  max-width: calc(100% - 40px);
  margin: 200px auto;
}

#userModal .modal-dialog {
  display: none;
}

.modal-content {
  background: #f8f8f8;
}

.modal-body {
  padding: 50px 60px 30px;
}

.modalClose {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 0;
  cursor: pointer;
}

.modalClose i {
  font-size: 29px;
  color: #454f63;
  transition: color 0.2s ease-in-out;
}

.modalClose:hover i {
  color: #ff1866;
}

.tabletLogo {
  display: none;
}

.loginContent > h1, .loginContent > h5, .regContent > h1, .regContent > h5, .forgottenPwContent > h1, .forgottenPwContent > h5, .sendInEmailContent > h1, .sendInEmailContent > h5 {
  margin-bottom: 30px;
  font-size: 34px;
  line-height: 34px;
  color: #454f63;
}

.loginContent p, .regContent p, .forgottenPwContent p, .sendInEmailContent p {
  margin-bottom: 15px;
  font-size: 14px;
  line-height: 20px;
  color: #959cac;
}

.socialLoginBox {
  display: flex;
  margin-bottom: 23px;
  justify-content: space-between;
}

.socialLoginBox .btn {
  width: calc(50% - 15px);
  padding: 8px 12px;
  box-shadow: 0px 2px 6px 0 rgba(0, 0, 0, 0.1);
}

.socialLoginBox img {
  height: 24px;
  margin-right: 10px;
}

.socialLoginBox span {
  position: relative;
  top: 2px;
  font-size: 12px;
}

.separatorBox {
  position: relative;
  display: flex;
  margin-bottom: 6px;
  justify-content: center;
}

.separatorBox span {
  display: inline-block;
  padding: 0 25px;
  background: #f8f8f8;
  font-size: 12px;
  line-height: 18px;
  color: #959cac;
  text-transform: uppercase;
  z-index: 2;
}

.separatorBox hr {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  border-top: 1px solid #cfd5de;
  transform: translate(0, -50%);
  z-index: 1;
}

.formBox {
  margin-bottom: 8px;
  padding-bottom: 30px;
  border-bottom: 1px solid #cfd5de;
}

.formBox > h6 {
  margin-bottom: 20px;
  font-size: 12px;
  line-height: 12px;
  color: #959cac;
  text-align: center;
}

.forgottenPwModal .formBox, .sendInEmailContent .formBox {
  padding-bottom: 0;
  border-bottom: 0;
}

.formBox.setNewPwBox {
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: 0;
}

fieldset legend {
  margin-bottom: 5px;
  font-size: 18px;
  line-height: 20px;
  color: #959cac;
}

#partnerRegForm fieldset {
  margin-bottom: 40px;
}

#profileForm fieldset {
  margin-bottom: 50px;
}

#profileForm fieldset legend {
  margin-bottom: 20px;
}

.inputRow {
  display: flex;
  margin-bottom: 20px;
  justify-content: space-between;
}

.inputRow .inputBox {
  width: 100%;
  margin-right: 10px;
  margin-bottom: 0;
}

.inputRow .inputBox:last-child {
  margin-right: 0;
}

.inputRow:last-child {
  margin-bottom: 0;
}

.inputRow.billingAddress {
  display: none;
}

.inputBox {
  position: relative;
  margin-bottom: 20px;
}

.inputBox label {
  display: block;
  margin-bottom: 5px;
  font-size: 12px;
  line-height: 12px;
  color: #959cac;
}

.inputBox input, .inputBox select {
  width: 100%;
  height: 36px;
  padding: 0 10px;
  background: white;
  border: 1px solid #d2d7db;
  border-radius: 4px;
  font-size: 12px;
  line-height: 12px;
  color: #454f63;
}

.inputBox textarea {
  width: 100%;
  height: 120px;
  padding: 10px;
  background: white;
  border: 1px solid #d2d7db;
  border-radius: 4px;
  font-size: 12px;
  line-height: 12px;
  color: #454f63;
}

.inputBox:last-child {
  margin-bottom: 0;
}

.inputBox.invalid input, .inputBox.invalid select, .inputBox.invalid textarea {
  border-color: #ff1866;
}

.inputBox.valid input, .inputBox.valid select, .inputBox.valid textarea {
  border-color: #00b267;
}

.inputBox .select2-container {
  width: 100% !important;
}

.chbInput {
  display: none;
}

.chbLabel {
  position: relative;
  display: inline-block;
  margin: 0 !important;
  padding-left: 30px;
  font-size: 12px;
  line-height: 18px !important;
  color: #959cac;
  text-align: left;
  cursor: pointer;
}

.chbLabel > div {
  position: absolute;
  top: -1px;
  left: 0;
  width: 18px;
  height: 18px;
  background: white;
  border: 1px solid #cfd5de;
  border-radius: 2px;
}

.chbLabel i {
  position: absolute;
  display: none;
  top: 5px;
  left: 2px;
  font-size: 10px;
  color: #00b267;
}

.chbInput:checked + .chbLabel i {
  display: block;
}

.radioInput {
  display: none;
}

.radioLabel {
  position: relative;
  display: inline-block;
  margin: 0 !important;
  padding-left: 25px;
  font-size: 12px;
  line-height: 18px !important;
  color: #959cac;
  text-align: left;
  cursor: pointer;
}

.radioLabel > div {
  position: absolute;
  top: 1px;
  left: 0;
  width: 16px;
  height: 16px;
  padding: 3px;
  background: white;
  border: 1px solid #cfd5de;
  border-radius: 50%;
}

.radioLabel span {
  display: none;
  width: 100%;
  height: 100%;
  background: #00b267;
  border-radius: 50%;
}

.radioInput:checked + .radioLabel span {
  display: block;
}

.formBox .submitBtn {
  margin-top: 30px;
}

.forgottenPwBox {
  display: flex;
  padding-top: 8px;
  justify-content: flex-end;
}

.forgottenPwLink {
  font-size: 12px;
  line-height: 12px;
  color: #00b267;
  cursor: pointer;
}

.inputBox .forgottenPwLink {
  position: absolute;
  top: 0;
  right: 0;
}

.forgottenPwLink:hover {
  text-decoration: underline;
}

.genderRadioBox {
  display: flex;
  margin-bottom: 10px;
  padding-top: 13px;
}

.genderRadioBox > span {
  margin-right: 20px;
  font-size: 12px;
  line-height: 18px;
  color: #959cac;
  text-transform: uppercase;
}

.genderRadioBox > div {
  display: inline-flex;
  margin-right: 20px;
}

.genderRadioBox > div:last-child {
  margin-right: 0;
}

.changeModalLink {
  font-size: 12px;
  line-height: 12px;
  color: #00b267;
  cursor: pointer;
}

.changeModalLink:hover {
  text-decoration: underline;
}

.pwVisibilityToggler {
  position: absolute;
  right: 10px;
  bottom: 10px;
  font-size: 11px;
  color: #959cac;
  cursor: pointer;
  transition: color 0.2s ease-in-out;
}

.pwVisibilityToggler:hover {
  color: #454f63;
}

.pwVisibilityToggler.showIt {
  color: #454f63;
}

.pwVisibilityToggler.showIt:hover {
  color: #959cac;
}

.loginAndRegPageContent {
  position: relative;
  display: flex;
  height: 100vh;
}

.loginAndRegPageContent .titleBox {
  position: relative;
  display: flex;
  width: 600px;
  padding: 0 60px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.loginAndRegPageContent .titleBox > a {
  position: absolute;
  top: 25px;
  left: 50%;
  transform: translate(-50%, 0);
}

.loginAndRegPageContent .titleBox > a img {
  width: 150px;
}

.loginAndRegPageContent .titleBox > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

.loginAndRegPageContent .titleBox h2 {
  font-size: 40px;
  line-height: 42px;
  color: white;
  text-align: center;
  transform: translate(0, 50px);
}

.loginAndRegPageContent .mainContent {
  position: relative;
  display: flex;
  width: calc(100% - 600px);
  padding: 90px 130px;
  background: #F8F8F8;
  align-items: center;
}

.loginAndRegPageContent .mainContent .formBox {
  width: 460px;
}

.loginAndRegPageContent .mainContent.partnerReg {
  display: block;
  overflow-y: scroll;
}

.loginAndRegPageContent .mainContent.partnerReg .regContent {
  padding-bottom: 90px;
}

.loginAndRegPageContent.success .mainContent {
  display: flex;
  overflow-y: unset;
}

.loginAndRegPageContent.success .regContent, .loginAndRegPageContent.success .toRegPageBox, .loginAndRegPageContent.success .toLoginPageBox {
  display: none;
}

.loginAndRegPageContent.success .thanksBox {
  display: block;
}

.changePageLink {
  font-size: 12px;
  line-height: 12px;
  color: #00b267;
  cursor: pointer;
}

.changePageLink:hover {
  text-decoration: underline;
}

.toRegPageBox, .toLoginPageBox {
  position: absolute;
  display: flex;
  top: 20px;
  right: 150px;
  align-items: center;
}

.toRegPageBox span, .toLoginPageBox span {
  margin-right: 20px;
  font-size: 12px;
  line-height: 12px;
  color: #959cac;
}

.thanksBox {
  display: none;
  width: 420px;
}

.thanksBox h3 {
  margin-bottom: 35px;
  font-size: 34px;
  line-height: 40px;
  color: #454f63;
}

.thanksBox p {
  margin-bottom: 40px;
  font-size: 18px;
  line-height: 24px;
  color: #959cac;
}

.thanksBox .btn {
  display: inline-block;
}

.pageContent.subPageContent {
  padding: 50px 0 70px;
}

.subPageTitle {
  max-width: 840px;
  margin-bottom: 45px;
  font-size: 34px;
  line-height: 40px;
  color: #454f63;
}

.subPageTitle img {
  position: relative;
  top: -2px;
  width: 30px;
  margin-right: 10px;
}

h2.subPageTitle {
  margin-bottom: 20px;
  font-size: 24px;
  line-height: 28px;
}

.subPageSubTitle {
  max-width: 485px;
  margin-bottom: 45px;
  font-size: 34px;
  line-height: 40px;
  color: #454f63;
}

.splitedWrapper {
  display: flex;
}

.splitedWrapper.top {
  margin-bottom: 30px;
}

.splitedWrapper.top .subPageMain {
  align-self: flex-end;
}

.splitedWrapper.top .mainOffersBox {
  margin-bottom: 0;
}

.splitedWrapper.bottom {
  flex-flow: row-reverse;
}

.subPageAside {
  width: 300px;
}

.subPageAside.left {
  padding-right: 60px;
}

.subPageAside.right {
  padding-left: 60px;
}

.offerTopBox .subPageAside.right {
  padding-left: 20px;
}

.subPageAside .subPageTitle {
  margin-bottom: 20px;
}

.subPageMain {
  position: relative;
  width: calc(100% - 300px);
}

.subPageMain.center {
  margin: 0 auto;
}

.subPageMain.full {
  width: 100%;
}

.subPageMain.flex {
  display: flex;
}

.subPageMain .mainTextBox {
  padding: 0 50px;
}

.offerDetailsContent .subPageMain {
  width: calc(100% - 400px);
}

.offerDetailsContent .splitedWrapper .subPageMain {
  width: calc(100% - 400px);
}

.offerDetailsContent .splitedWrapper .subPageAside {
  width: 400px;
}

.mainTextBox {
  padding: 0 100px;
}

.mainTextBox h1, .mainTextBox h2, .mainTextBox h3, .mainTextBox h4, .mainTextBox h5, .mainTextBox h6 {
  color: #454f63;
}

.mainTextBox h1 {
  font-size: 30px;
  line-height: 38px;
}

.mainTextBox h2 {
  font-size: 28px;
  line-height: 36px;
}

.mainTextBox h3 {
  font-size: 26px;
  line-height: 34px;
}

.mainTextBox h4 {
  font-size: 24px;
  line-height: 32px;
}

.mainTextBox h5 {
  font-size: 22px;
  line-height: 30px;
}

.mainTextBox h6 {
  font-size: 20px;
  line-height: 28px;
}

.mainTextBox p {
  font-size: 14px;
  line-height: 20px;
  color: #454f63;
}

.mainTextBox a {
  font-size: 14px;
  line-height: 20px;
  color: #00b267;
}

.mainTextBox a:hover {
  text-decoration: underline;
}

.mainTextBox strong, .mainTextBox em, .mainTextBox span, .mainTextBox sup, .mainTextBox sub {
  font-size: inherit;
  line-height: inherit;
  color: inherit;
}

.mainTextBox em, .mainTextBox sup, .mainTextBox sub {
  font-family: inherit;
  font-weight: inherit;
}

.mainTextBox em {
  font-style: italic;
}

.mainTextBox blockquote {
  width: calc(100% - 200px);
  margin: 0 auto;
  font-size: 26px;
  line-height: 32px;
  color: #454f63;
}

.mainTextBox > ul li, .mainTextBox > ol li {
  position: relative;
  padding-left: 10px;
  font-size: 14px;
  line-height: 20px;
  color: #454f63;
}

.mainTextBox > ul li:before, .mainTextBox > ol li:before {
  position: absolute;
  left: 0;
  display: block;
  width: 3px;
}

.mainTextBox > ul li:before {
  top: 10px;
  height: 3px;
  background-color: #454f63;
  border-radius: 50%;
  content: "";
}

.mainTextBox > ol {
  list-style: none;
  counter-reset: li;
}

.mainTextBox > ol li {
  padding-left: 20px;
  list-style-position: outside;
  counter-increment: li;
}

.mainTextBox > ol li:before {
  text-align: center;
  color: #00b267;
  content: counter(li);
}

.mainTextBox > img {
  display: block;
  max-width: 100%;
  height: auto;
}

.mainTextBox iframe {
  display: block;
  width: 100%;
}

.mainTextBox hr {
  height: 4px;
  background-color: #00b267;
}

.offerDetailsContent .mainTextBox {
  padding: 0;
}

.offerDetailsContent .mainTextBox p, .offerDetailsContent .mainTextBox li {
  color: #959cac;
}

.offerDetailsContent .mainTextBox ul li:before {
  background-color: #959cac;
}

.videoWrapper, #videoModal .modal-content {
  overflow: hidden;
  position: relative;
  max-width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}

.videoWrapper iframe, .videoWrapper object, .videoWrapper embed, #videoModal .modal-content iframe, #videoModal .modal-content object, #videoModal .modal-content embed {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-color: black;
}

.lSAction > a {
  width: auto;
  height: auto;
  background: transparent;
  opacity: 1;
}

.lSAction > a i {
  font-size: 40px;
  color: white;
  transition: color 0.2s ease-in-out;
}

.lSAction > a:hover i {
  color: #00b267;
}

.lSAction > .lSPrev {
  left: 20px;
}

.lSAction > .lSNext {
  right: 20px;
}

.lSSlideOuter img {
  width: 100%;
  height: auto;
}

.lSSlideOuter .lSPager.lSGallery li {
  position: relative;
  cursor: pointer;
}

.lSSlideOuter .lSPager.lSGallery li:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 178, 103, 0.5);
  opacity: 0;
  content: "";
  transition: opacity 0.2s ease-in-out;
}

.lSSlideOuter .lSPager.lSGallery li.active, .lSSlideOuter .lSPager.lSGallery li:hover {
  border-radius: 0;
}

.lSSlideOuter .lSPager.lSGallery li.active:before, .lSSlideOuter .lSPager.lSGallery li:hover:before {
  opacity: 1;
}

.ourTeam {
  display: flex;
  margin-top: 85px;
  justify-content: flex-start;
}

.teamMember {
  width: calc(33.3333% - 30px);
  margin: 0 30px 30px 0;
}

.teamMember figure {
  width: 105px;
  height: 105px;
  margin: 0 auto 20px;
  border-radius: 50%;
  overflow: hidden;
}

.teamMember figure img {
  display: block;
}

.teamMember h6 {
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 22px;
  color: #454f63;
  text-align: center;
}

.teamMember span, .teamMember a {
  display: block;
  font-size: 14px;
  line-height: 18px;
  color: #959cac;
  text-align: center;
}

.teamMember a {
  transition: color 0.2s ease-in-out;
}

.teamMember a:hover {
  color: #00b267;
}

.teamMember p {
  margin-top: 20px;
  font-size: 14px;
  line-height: 18px;
  color: #454f63;
  text-align: center;
}

.contactFormBox {
  width: 50%;
  padding-right: 110px;
  border-right: 1px solid #cfd5de;
}

.contactInfoBox {
  width: 50%;
  text-align: center;
}

.contactInfoBox h6 {
  font-size: 16px;
  line-height: 24px;
  color: #454f63;
  text-align: center;
}

.contactInfoBox hr {
  width: 35px;
  height: 2px;
  margin: 10px auto;
  background: #cfd5de;
}

.contactInfoBox p {
  font-size: 16px;
  line-height: 24px;
  color: #959cac;
  text-align: center;
}

.contactInfoBox a {
  font-size: 16px;
  line-height: 24px;
  color: #959cac;
}

.profilePageNav {
  margin-bottom: 65px;
  border-bottom: 1px solid #cfd5de;
}

.profilePageNav ul {
  display: flex;
  width: 100%;
}

.profilePageNav li {
  margin-right: 20px;
}

.profilePageNav li:last-child {
  margin-right: 0;
}

.profilePageNav li.active a {
  border-color: #00b267;
  color: #454f63;
}

.profilePageNav a {
  display: block;
  padding: 0 10px 5px;
  border-bottom: 4px solid transparent;
  font-size: 18px;
  line-height: 20px;
  color: #959cac;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
}

.profileFormBox {
  width: 50%;
  padding-right: 110px;
}

.balanceBox {
  display: flex;
  width: 50%;
  padding: 20px;
  background: white;
  border-radius: 6px;
  box-shadow: 0px 2px 6px 0 rgba(0, 0, 0, 0.1);
}

.balanceBox h3 {
  width: calc(100% - 200px);
  padding: 65px 0;
  border-right: 2px solid #cfd5de;
  font-size: 46px;
  line-height: 48px;
  color: #454f63;
  text-align: center;
}

.balanceBox p {
  width: 200px;
  padding-left: 20px;
  font-size: 14px;
  line-height: 18px;
  color: #454f63;
}

.vouchersWrapper {
  width: 100%;
}

.vouchersWrapper > h5 {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 18px;
  color: #959cac;
  text-transform: uppercase;
}

.vouchersBox {
  margin-bottom: 40px;
  padding: 20px;
  background: white;
  border-radius: 6px;
  box-shadow: 0px 2px 6px 0 rgba(0, 0, 0, 0.1);
}

.vouchersBox:last-child {
  margin-bottom: 0;
}

.vouchersTable, .basketTable {
  width: 100%;
  border-collapse: collapse;
}

.vouchersTable th, .vouchersTable td, .basketTable th, .basketTable td {
  text-align: center;
  vertical-align: middle;
}

.vouchersTable th, .basketTable th {
  padding: 5px 20px;
  font-size: 14px;
  line-height: 16px;
  color: #959cac;
  text-transform: uppercase;
}

.vouchersTable th:first-child, .basketTable th:first-child {
  padding-left: 0;
  text-align: left;
}

.vouchersTable td, .basketTable td {
  padding: 10px 20px;
  border-bottom: 1px solid #cfd5de;
  font-size: 14px;
  line-height: 18px;
  color: #454f63;
}

.vouchersTable td:first-child, .basketTable td:first-child {
  padding-left: 0;
}

.vouchersTable td.expired, .basketTable td.expired {
  color: #ff1866;
}

.vouchersTable tr:first-child td, .basketTable tr:first-child td {
  border-top: 1px solid #cfd5de;
}

.vouchersTable tr:last-child td, .basketTable tr:last-child td {
  padding-bottom: 0;
  border-bottom: 0;
}

.tableMobileInfo {
  display: none;
  margin-bottom: 10px;
}

.tableMobileInfo li {
  display: flex;
  width: 100%;
  margin-bottom: 10px;
  align-items: center;
  justify-content: space-between;
}

.tableMobileInfo li .quantityInput {
  margin-top: 0;
}

.tableMobileInfo span {
  font-size: 14px;
  line-height: 18px;
  color: #454f63;
  text-align: left;
}

.basketTable td {
  vertical-align: top;
}

.loadExpiredVouchers {
  margin-top: 50px;
}

.basketMenu {
  margin-bottom: 30px;
}

.basketMenu ul {
  display: flex;
}

.basketMenu li {
  margin-right: 45px;
}

.basketMenu li:last-child {
  margin-right: 0;
}

.basketMenu a {
  position: relative;
  display: block;
  padding: 0 0px 0 40px;
  font-size: 14px;
  line-height: 18px;
  color: #454f63;
  cursor: pointer;
}

.basketMenu a > div {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 50%;
  left: 0;
  padding-top: 5px;
  border: 1px solid #454f63;
  border-radius: 50%;
  font-size: 14px;
  line-height: 18px;
  color: #454f63;
  text-align: center;
  transform: translateY(-50%);
}

.basketMenu .disabled a {
  color: #959cac;
  pointer-events: none;
}

.basketMenu .disabled a > div {
  border-color: #959cac;
  color: #959cac;
}

.basketMenu .active a {
  color: #454f63;
}

.basketMenu .active a > div {
  background: #454f63;
  border-color: #454f63;
  color: white;
}

.basketContentBox {
  padding: 20px;
  background: white;
  border-radius: 6px;
  box-shadow: 0px 2px 6px 0 rgba(0, 0, 0, 0.1);
}

.basketTable th:nth-child(2) {
  padding-left: 0;
  text-align: left;
}

.basketTable td:nth-child(2) {
  padding-left: 0;
}

.basketTable .quantityInput {
  width: 85px;
  margin-top: 10px;
}

.basketTable tr:last-child td {
  padding-bottom: 10px;
  border-bottom: 1px solid #cfd5de;
}

.basketTable td > p {
  margin-top: 20px;
}

.removeBasketItem {
  display: inline-block;
  margin-top: 34px;
  cursor: pointer;
}

.removeBasketItem:hover i {
  color: #ff1866;
}

.removeBasketItem i {
  color: #959cac;
  font-size: 12px;
  transition: color 0.2s ease-in-out;
}

.giftWrapper > .inputBox {
  margin-bottom: 0;
}

.giftedDataBox {
  display: none;
  margin-top: 15px;
}

.giftedDataBox .inputBox {
  margin-bottom: 10px;
}

.basketNav {
  display: flex;
  margin-top: 10px;
  justify-content: space-between;
}

.summaryBox {
  margin-top: 3px;
  padding-top: 15px;
  border-top: 1px solid #cfd5de;
}

.summaryBox.noBorder {
  margin-top: 35px;
  padding-top: 0;
  border: 0;
}

.couponBox {
  display: flex;
  width: 100%;
  margin-bottom: 15px;
  justify-content: flex-end;
}

.couponBox form {
  display: flex;
}

.couponBox .inputBox {
  margin-right: 10px;
  margin-bottom: 0;
}

.addCouponBtn {
  min-width: 0;
  padding-top: 9px;
  padding-bottom: 9px;
}

.summaryList li {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 18px;
  color: #959cac;
  text-align: right;
}

.summaryList li span {
  display: inline-block;
  margin-left: 45px;
  font-size: 14px;
  line-height: 18px;
  color: #454f63;
}

.summaryList li:last-child {
  margin-bottom: 0;
}

.summaryList li.finalPrice span {
  color: #00b267;
}

.paymentContentBox {
  background: white;
  border-radius: 6px;
  box-shadow: 0px 2px 6px 0 rgba(0, 0, 0, 0.1);
}

.paymentInfo {
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 18px;
  color: #959cac;
}

.paymentOptions li {
  padding: 15px;
  border-bottom: 1px solid #cfd5de;
}

.paymentOptions .radioLabel {
  font-size: 16px;
  line-height: 20px;
  color: #454f63;
}

.basketLoginBox {
  display: flex;
}

.basketLoginBox > div h4 {
  margin-bottom: 20px;
  font-size: 22px;
  line-height: 26px;
  color: #454f63;
}

.basketLoginBox > div p {
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 20px;
  color: #959cac;
}

.basketLoginBox > div:first-child {
  width: 60%;
  padding-right: 40px;
  border-right: 1px solid #cfd5de;
}

.basketLoginBox > div:last-child {
  width: 40%;
  padding-left: 40px;
}

.basketLoginBox .btnWrap .btn:first-child {
  margin-right: 12px;
}

.basketLoginBox .separatorBox {
  margin: 10px 0;
}

.addNewVoucherBtn {
  margin-bottom: 50px;
}

.partnerMenu ul {
  display: flex;
}

.partnerMenu li {
  position: relative;
  margin-right: 15px;
}

.partnerMenu li:after {
  position: absolute;
  display: none;
  width: 100%;
  height: 4px;
  top: calc(100% + 6px);
  left: 0;
  background: #00b267;
  content: "";
}

.partnerMenu li:last-child {
  margin-right: 0;
}

.partnerMenu a {
  display: block;
  padding: 10px;
  font-size: 16px;
  line-height: 20px;
  color: #454f63;
}

.partnerMenu li.active:after {
  display: block;
}

.partnerPageContent .vouchersTable.lastBorder tr:last-child td {
  padding-bottom: 10px;
  border-bottom: 1px solid #cfd5de;
}

.voucherCheckBox {
  width: 550px;
  max-width: 100%;
  margin: 80px auto;
}

.voucherCheckBox > p {
  margin-bottom: 30px;
  font-size: 16px;
  line-height: 20px;
  color: #454f63;
  text-align: center;
}

.voucherCheckBox .inputBox label {
  text-align: left;
}

.voucherCheckBox .inputBox input {
  height: 80px;
  padding: 0 50px 0 20px;
  font-size: 34px;
}

.voucherCheckBox .inputBox i {
  position: absolute;
  display: none;
  right: 10px;
  bottom: 24px;
  font-size: 30px;
}

.voucherCheckBox .inputBox i.icon-cancel {
  color: #ff1866;
}

.voucherCheckBox .inputBox i.icon-check {
  color: #00b267;
}

.voucherCheckBox .inputBox.ok input {
  border-color: #00b267;
}

.voucherCheckBox .inputBox.ok .icon-check {
  display: inline-block;
}

.voucherCheckBox .inputBox.wrong input {
  border-color: #ff1866;
}

.voucherCheckBox .inputBox.wrong .icon-cancel {
  display: inline-block;
}

.voucherCheckBox form {
  text-align: center;
}

.voucherCheckBox .successMsg {
  display: none;
}

.voucherCheckBox.firstStep .voucherBackBtn, .voucherCheckBox.firstStep .confirmBtn {
  display: none;
}

.voucherCheckBox.secondStep .checkBtn {
  display: none;
}

.voucherCheckBox.secondStep .checkInfo {
  display: none;
}

.voucherCheckBox.thirdStep .checkBtn {
  display: none;
}

.voucherCheckBox.thirdStep .successMsg {
  display: block;
}

.voucherCheckBox.thirdStep .checkInfo {
  display: none;
}

.faqList {
  border-radius: 6px;
  box-shadow: 0px 2px 6px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.faqList > li header {
  position: relative;
  padding: 25px 80px 25px 30px;
  background: white;
  border-bottom: 1px solid #cfd5de;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.faqList > li header h3 {
  font-size: 22px;
  line-height: 28px;
  color: #454f63;
  transition: color 0.2s ease-in-out;
}

.faqList > li header i {
  position: absolute;
  top: calc(50% + 2px);
  right: 30px;
  font-size: 12px;
  transform: translateY(-50%);
  transition: all 0.2s ease-in-out;
}

.faqList > li header:hover {
  background-color: #00b267;
}

.faqList > li header:hover h3, .faqList > li header:hover i {
  color: white;
}

.faqList > li.active header {
  background-color: #00b267;
}

.faqList > li.active header h3, .faqList > li.active header i {
  color: white;
}

.faqList > li.active header i {
  transform: translateY(-50%) rotate(180deg);
}

.faqList > li > div {
  position: relative;
  display: none;
  padding: 30px 0px;
  background: white;
  border-bottom: 1px solid #cfd5de;
}

.faqList > li:last-child header {
  border-bottom: 0;
}

.faqList > li:last-child > div {
  border-bottom: 0;
}

.cityAndRadiusBox {
  display: flex;
}

.cityAndRadiusBox .inputBox {
  position: relative;
  width: 300px;
  margin-right: 20px;
  margin-bottom: 0;
  background: white;
  z-index: 2;
}

.cityAndRadiusBox .inputBox input {
  padding-left: 30px;
  background: transparent;
}

.cityAndRadiusBox .inputBox > i {
  position: absolute;
  top: 12px;
  left: 10px;
  font-size: 16px;
  color: #959cac;
  z-index: -1;
}

.cityAndRadiusBox .inputBox:last-child {
  margin-right: 0;
}

@media (min-width: 1199px) {
  .mainOffersBox.owl-carousel .owl-stage-outer {
    overflow: visible;
  }
}

@media (max-width: 1599px) {
  .loginAndRegPageContent .titleBox {
    width: 400px;
  }
  .loginAndRegPageContent .mainContent {
    width: calc(100% - 400px);
  }
  .toLoginPageBox, .toRegPageBox {
    right: 50px;
  }
}

@media (max-width: 1199px) {
  .mainLogo {
    margin-top: 0;
  }
  .mainLogo img.desktopLogo {
    display: none;
  }
  .mainLogo img.mobileLogo {
    display: inline-block;
  }
  .dropdownParent.hoverOpen:hover .dropdown {
    display: none !important;
  }
  .pageContent {
    padding-bottom: 50px;
    overflow: hidden;
  }
  .subCatDropdown > div:first-child {
    width: 40%;
  }
  .subCatDropdown > div:last-child {
    width: 60%;
  }
  .mainOffersSection {
    width: calc(100% + 40px);
    margin-bottom: 30px;
    margin-left: -20px;
    padding: 30px 20px;
    background: #ff1866;
  }
  .mainOffersSection .mainOffersBox {
    width: 80%;
    margin-bottom: 0;
  }
  .mainOffersSection .mainOffersBox.owl-carousel .owl-stage-outer {
    width: 100%;
    margin-left: 0;
    padding: 0;
    overflow: visible;
  }
  .subPageContent .mainOffersSection .mainOffersBox {
    width: 100%;
  }
  .offerItem:hover .hoverBox {
    display: none;
  }
  .offersAndArticlesBox {
    display: block;
  }
  .offersAndArticlesBox .offersWrapper {
    width: 100%;
  }
  .offersAndArticlesBox .articlesWrapper {
    width: 100%;
    padding-top: 40px;
    padding-left: 0;
  }
  .offersAndArticlesBox .articlesWrapper > h3 {
    padding-bottom: 0;
    border-bottom: 0;
  }
  .offersAndArticlesBox .articlesWrapper .articlesBox {
    display: flex;
    width: calc(100% + 30px);
    justify-content: flex-start;
  }
  .offersAndArticlesBox .articlesWrapper .articlesBox .articleItem {
    width: calc(33.3333% - 30px);
    margin-right: 30px;
    margin-bottom: 30px;
    padding: 15px 0 0;
    border-top: 1px solid #00b267;
    border-bottom: 0;
  }
  .loadArticles {
    display: block;
  }
  .pageFooter {
    padding-top: 40px;
  }
  .footerBoxes {
    margin-bottom: 40px;
  }
  .modal-dialog {
    margin: 100px auto;
  }
  .subPageMain {
    width: 100%;
  }
  .splitedWrapper {
    display: block;
  }
  .subPageAside {
    width: 100%;
  }
  .subPageAside .articlesWrapper {
    width: 100%;
    padding-top: 60px;
    padding-left: 0;
  }
  .subPageAside .articlesWrapper > h3 {
    padding-bottom: 0;
    border-bottom: 0;
  }
  .subPageAside .articlesWrapper .articlesBox {
    display: flex;
    width: calc(100% + 30px);
    justify-content: flex-start;
  }
  .subPageAside .articlesWrapper .articlesBox .articleItem {
    width: calc(33.3333% - 30px);
    margin-right: 30px;
    margin-bottom: 30px;
    padding: 15px 0 0;
    border-top: 1px solid #00b267;
    border-bottom: 0;
  }
  .subPageAside.right {
    padding-left: 0;
  }
  .subOffers, .seenOffers {
    margin-top: 60px;
  }
  .subOffers .offersBox, .seenOffers .offersBox {
    width: 85%;
  }
  .subOffers .offersBox.owl-carousel .owl-stage-outer, .seenOffers .offersBox.owl-carousel .owl-stage-outer {
    width: 100%;
    margin-left: 0;
    padding: 0;
    overflow: visible;
  }
  .contactFormBox {
    padding-right: 20px;
  }
  .profileFormBox {
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    padding: 0;
  }
  .loginAndRegPageContent .mainContent {
    padding-right: 50px;
    padding-left: 50px;
  }
  .loginAndRegPageContent .mainContent .loginContent, .loginAndRegPageContent .mainContent .formBox {
    width: 100%;
  }
  .offerTopBox .subPageAside.right {
    margin-top: 40px;
    padding-left: 0;
  }
  .printItBtn {
    margin-top: 40px;
  }
  .offerDetailsContent .subPageMain {
    width: 100%;
  }
  .offerDetailsContent .splitedWrapper {
    display: flex;
  }
  .offerDetailsContent .splitedWrapper .subPageMain {
    width: calc(100% - 300px);
    padding-right: 20px;
  }
  .offerDetailsContent .splitedWrapper .subPageAside {
    width: 300px;
    margin-top: 0;
  }
  .offersMenu {
    margin-bottom: 20px;
  }
  .offersMenu ul {
    display: flex;
    flex-wrap: wrap;
  }
  .offersMenu ul li {
    margin-right: 15px;
  }
  .subPageAside.left {
    padding-right: 0;
  }
  .articlesWrapper.underCategories {
    display: none;
  }
}

@media (max-width: 1023px) {
  .mainNav > ul {
    white-space: nowrap;
    overflow-x: scroll;
  }
  .mainNav > ul > li {
    display: inline-block;
    float: none !important;
    margin-right: 22px;
  }
  .dropdownParent .dropdown {
    right: -100px;
  }
  .helloNachbarn {
    position: static;
  }
  .helloNachbarn .dropdown {
    right: 0px;
  }
  .nachbarnDropdown {
    white-space: normal;
  }
  .subCatDropdown > div {
    width: 100% !important;
  }
  .subCatDropdown > div:first-child {
    border: 0;
  }
  .subCatDropdown > div:last-child {
    padding-left: 0;
  }
  .active .subCatDropdown {
    display: block !important;
  }
  .subCatDropdown .offerItem .textBox {
    white-space: normal;
  }
  .headerActions > div {
    margin-left: 10px;
    padding-left: 10px;
  }
  .headerInputsBox .inputBox {
    width: 120px;
  }
  .headerInputsBox .inputBox input {
    padding-left: 25px;
  }
  .headerInputsBox .inputBox.searchBox {
    width: 170px;
  }
  .headerInputsBox .inputBox.locBox {
    width: 130px;
  }
  .locBox .select2-container--default .select2-selection--single .select2-selection__rendered {
    padding-left: 20px;
  }
  .socialMenu li {
    margin-right: 20px;
  }
  .modal-dialog {
    margin: 50px auto;
  }
  .modal-body {
    padding: 30px 20px;
  }
  .modalClose i {
    font-size: 20px;
  }
  .forgottenPwBox {
    margin-bottom: 10px;
  }
  .articleItem {
    width: calc(33.3333% - 20px);
  }
  .balanceBox {
    width: 100%;
  }
  .basketLoginBox > div:first-child {
    padding-right: 20px;
  }
  .basketLoginBox > div:last-child {
    padding-left: 20px;
  }
  .btnWrap .btn {
    min-width: 0;
  }
  .loginAndRegPageContent {
    height: auto;
    min-height: 100vh;
  }
  .loginAndRegPageContent .titleBox {
    display: none;
  }
  .loginAndRegPageContent .mainContent {
    display: block;
    width: 100%;
    align-items: flex-start;
    text-align: center;
  }
  .loginAndRegPageContent .mainContent.partnerReg {
    overflow: auto;
  }
  .loginAndRegPageContent .mainContent.partnerReg .regContent {
    padding-bottom: 0;
  }
  .loginAndRegPageContent .mainContent form div {
    text-align: left;
  }
  .loginAndRegPageContent .mainContent .formBox {
    margin-bottom: 20px;
    padding-bottom: 0;
    border-bottom: 0;
  }
  .loginAndRegPageContent.partner .toLoginPageBox, .loginAndRegPageContent.partner .toRegPageBox {
    display: none;
  }
  .loginAndRegPageContent .toLoginPageBox, .loginAndRegPageContent .toRegPageBox {
    position: static;
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid #cfd5de;
    justify-content: center;
  }
  .tabletLogo {
    display: inline-block;
    margin-bottom: 80px;
  }
  .tabletLogo img {
    width: 150px;
  }
  .basketTable thead, .vouchersTable thead {
    display: none;
  }
  .tableMobileInfo {
    display: block;
  }
  .basketTable tr:first-child td, .vouchersTable tr:first-child td {
    padding-top: 0;
    border-top: 0;
  }
  .basketTable .offerItem .textBox, .vouchersTable .offerItem .textBox {
    width: calc(100% - 110px);
    padding-right: 0;
  }
  .basketTable .offerItem .textBox h4, .vouchersTable .offerItem .textBox h4 {
    min-height: 0;
  }
  .hideOnTablet {
    display: none;
  }
  .ourTeam {
    flex-wrap: wrap;
  }
  .ourTeam .teamMember {
    width: calc(50% - 30px);
  }
  .loginAndRegPageContent .mainContent.partnerReg {
    flex-wrap: wrap;
  }
  .loginAndRegPageContent.success .mainContent {
    display: block;
  }
  .thanksBox {
    width: 100%;
  }
  .filterWrapper .cityAndRadiusBox {
    width: calc(66.6666% + 10px);
    justify-content: space-between;
  }
  .filterWrapper .cityAndRadiusBox .inputBox {
    width: calc(50% + 10px);
    margin-right: 10px;
  }
  .filterWrapper .filterBox {
    width: 33.333333%;
  }
  .filterWrapper .filterBox form {
    width: 100%;
  }
  .offerDetailsContent .subPageMain {
    width: 100%;
  }
  .offerDetailsContent .splitedWrapper {
    display: block;
  }
  .offerDetailsContent .splitedWrapper .subPageMain {
    width: 100%;
    padding-right: 0px;
  }
  .offerDetailsContent .splitedWrapper .subPageAside {
    width: 100%;
    margin-top: 40px;
  }
  .listView .offerItem {
    width: calc(33.3333% - 30px);
  }
}

@media (max-width: 767px) {
  .loginAndRegPageContent .mainContent {
    padding: 30px 20px;
  }
  .socialLoginBox .btn {
    width: calc(50% - 5px);
  }
  .tabletLogo {
    margin-bottom: 30px;
  }
  .tabletLogo img {
    width: 120px;
  }
  .forgottenPwContent > h1, .sendInEmailContent > h5, .forgottenPwContent > h5, .loginContent > h1, .loginContent > h5, .regContent > h1, .regContent > h5 {
    font-size: 24px;
    line-height: 26px;
  }
  .thanksBox h3 {
    margin-bottom: 25px;
    font-size: 24px;
    line-height: 26px;
  }
  .thanksBox p {
    margin-bottom: 25px;
    font-size: 14px;
    line-height: 20px;
  }
  .toLoginPageBox span, .toRegPageBox span {
    text-align: left;
  }
  .pageContent.subPageContent {
    padding: 30px 0;
  }
  .subPageSubTitle, .subPageTitle {
    margin-bottom: 30px;
    font-size: 24px;
    line-height: 30px;
  }
  h2.subPageTitle {
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 22px;
  }
  .subPageMain .mainTextBox {
    padding: 0;
  }
  .mainTextBox {
    padding: 0 100px;
  }
  .mainTextBox h1 {
    font-size: 24px;
    line-height: 30px;
  }
  .mainTextBox h2 {
    font-size: 22px;
    line-height: 28px;
  }
  .mainTextBox h3 {
    font-size: 20px;
    line-height: 26px;
  }
  .mainTextBox h4 {
    font-size: 19px;
    line-height: 25px;
  }
  .mainTextBox h5 {
    font-size: 18px;
    line-height: 24px;
  }
  .mainTextBox h6 {
    font-size: 16px;
    line-height: 22px;
  }
  .mainTextBox p {
    font-size: 14px;
    line-height: 20px;
  }
  .mainTextBox a {
    font-size: 14px;
    line-height: 20px;
  }
  .mainTextBox blockquote {
    width: calc(100% - 40px);
    font-size: 18px;
    line-height: 24px;
  }
  .mainTextBox ul li, .mainTextBox ol li {
    font-size: 14px;
    line-height: 20px;
  }
  .mainTextBox ul li:before {
    top: 8px;
  }
  .mainTextBox hr {
    height: 2px;
  }
  .subPageMain.mobileReverse {
    flex-flow: column-reverse;
  }
  .contactInfoBox {
    width: 100%;
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #cfd5de;
  }
  .contactFormBox {
    width: 100%;
    padding-right: 0;
    border: 0;
  }
  .faqList > li header {
    padding: 15px 45px 15px 20px;
  }
  .faqList > li header h3 {
    font-size: 14px;
    line-height: 20px;
  }
  .faqList > li header i {
    right: 15px;
    font-size: 8px;
  }
  .faqList > li > div {
    padding: 15px 20px;
  }
  .subPageAside .articlesWrapper {
    padding-top: 40px;
  }
  .subPageAside .articlesWrapper .articlesBox {
    flex-wrap: wrap;
  }
  .subPageAside .articlesWrapper .articlesBox .articleItem {
    width: calc(50% - 30px);
  }
  .subOffers, .seenOffers {
    margin-top: 40px;
  }
  .subOffers .offersBox, .seenOffers .offersBox {
    width: 95%;
  }
  .offerItem .textBox h4 {
    font-size: 14px;
    line-height: 20px;
  }
  .listView .offerItem {
    width: calc(50% - 20px);
  }
  .offerPriceBox {
    margin-top: 15px;
  }
  .offerPriceBox .newPrice {
    font-size: 20px;
    line-height: 22px;
  }
  .articleItem {
    width: calc(50% - 10px);
    margin-bottom: 20px;
  }
  .articleItem.bigItem {
    width: calc(50% - 10px);
    margin-bottom: 20px;
  }
  .countrySelector {
    margin-top: 9px;
    margin-left: 15px;
  }
  .countrySelector i {
    color: white;
  }
  .menuOpen {
    display: block;
  }
  .mainHeader {
    padding-bottom: 0;
    background: #00b267;
  }
  .mainLogo {
    margin-left: 35px;
  }
  .partnerHeader .mainLogo {
    display: inline-block;
    float: none;
    margin-left: 0;
  }
  .partnerHeader {
    padding-bottom: 12px;
    background: white;
  }
  .partnerHeader .menuOpen span {
    background: #00b267;
  }
  .partnerHeader .menuOpen span:before, .partnerHeader .menuOpen span:after {
    background: #00b267;
  }
  .partnerHeader .container {
    text-align: center;
  }
  .partnerHeader .itsMeBox {
    text-align: left;
  }
  .menuIn .partnerHeader .menuOpen span:before, .menuIn .partnerHeader .menuOpen span:after {
    background: white;
  }
  .headerActions > div {
    margin-left: 15px;
    padding-left: 0;
    border: 0;
  }
  .headerActions > div > a > i {
    color: white;
  }
  .headSearchBox {
    display: block;
  }
  .headerInputsBox {
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: auto !important;
    padding: 60px 20px 20px !important;
    background: #00b267;
  }
  .headerInputsBox .inputBox {
    width: 100% !important;
    margin-right: 0;
    margin-bottom: 10px;
    background: white;
    border-radius: 4px;
  }
  .headerInputsBox .inputBox:last-child {
    margin-bottom: 0;
  }
  .headerInputsBox.opened {
    display: block;
  }
  .lightpick {
    padding: 20px;
  }
  .lightpick > h3 {
    display: none;
  }
  .lightpick__month {
    width: 280px;
  }
  .lightpick__day {
    height: 40px;
  }
  .usableDateBox.active #usableDatePicker {
    background: white;
    border-color: #d2d7db;
    color: #454f63;
  }
  .usableDateBox.active > i {
    color: #00b267;
  }
  .usableDatePickerDropdown {
    width: calc(100% + 40px) !important;
    max-width: 320px !important;
    top: calc(100% + 20px) !important;
    left: -20px !important;
    right: auto !important;
    padding: 20px;
  }
  .usableDatePickerDropdown > h3 {
    display: none;
  }
  .lightpick__month:nth-child(2n+1) .lightpick__month-title-bar {
    padding-left: 0;
  }
  .lightpick__month-title {
    position: relative;
    width: calc(100% - 72px);
    left: 36px;
    text-align: center;
    z-index: 1;
  }
  .lightpick__toolbar {
    z-index: 5;
  }
  .savedOffersBox.active i, .savedOffersBox > a:hover i {
    color: white;
  }
  .toTheCartBox a:hover i {
    color: white;
  }
  .loginBox {
    display: none;
  }
  .mainNav {
    width: calc(100% + 20px);
    padding-top: 0;
  }
  .mainNav > ul > li {
    margin-right: 15px;
  }
  .mainNav > ul > li.active {
    padding-bottom: 12px;
    border-bottom: 5px solid white;
  }
  .mainNav > ul > li.active > a {
    opacity: 1;
  }
  .mainNav > ul > li > a {
    opacity: 0.7;
  }
  .mainOffersSection .mainOffersBox {
    width: 95%;
  }
  .subPageContent .mainOffersSection .mainOffersBox {
    width: 95%;
  }
  .offerItem {
    width: calc(50% - 20px);
    margin-right: 20px;
  }
  .offersWrapper .offerItem {
    margin-bottom: 20px;
  }
  .offersAndArticlesBox .articlesWrapper .articlesBox {
    width: calc(100% + 20px);
    flex-wrap: wrap;
  }
  .offersAndArticlesBox .articlesWrapper .articlesBox .articleItem {
    width: calc(50% - 20px);
    margin-right: 20px;
  }
  .footerBoxes {
    flex-wrap: wrap;
  }
  .footerBoxes > div {
    width: 50%;
  }
  .footerBoxes > div .footerLogo {
    display: none;
  }
  .footerBoxes > div > h3 {
    display: none;
    font-size: 18px;
  }
  .footerBoxes > div:last-child {
    width: 100%;
    margin-top: 30px;
    padding-top: 30px;
    border-top: 1px solid #cfd5de;
  }
  .footerBoxes > div:last-child > h3 {
    display: block;
    margin-bottom: 20px;
    text-align: center;
  }
  .footerBoxes > div:last-child > p {
    max-width: 100%;
    text-align: center;
  }
  .footerBoxes .socialMenu {
    justify-content: center;
  }
  .profilePageNav {
    margin-bottom: 20px;
  }
  .profilePageNav li {
    margin-right: 0;
  }
  .profilePageNav a {
    font-size: 14px;
    text-transform: none;
  }
  #profileForm fieldset {
    margin-bottom: 40px;
  }
  .subPageAside .articlesWrapper {
    padding-top: 20px;
  }
  .voucherCheckBox {
    margin-top: 0;
    margin-bottom: 0;
  }
  .basketMenu li {
    margin-right: 5px;
  }
  .basketMenu li a {
    min-height: 18px;
    padding-left: 30px;
  }
  .basketMenu li span {
    display: none;
  }
  .basketMenu li.active span {
    display: inline;
  }
  .basketMenu li.active a {
    padding-left: 35px;
    font-size: 12px;
  }
  .basketLoginBox {
    flex-wrap: wrap;
  }
  .basketLoginBox > div {
    width: 100% !important;
  }
  .basketLoginBox > div:first-child {
    margin-bottom: 30px;
    padding-right: 0;
    padding-bottom: 10px;
    border-right: 0;
    border-bottom: 1px solid #cfd5de;
  }
  .basketLoginBox > div:last-child {
    padding-left: 0;
  }
  .changeTheOrder {
    display: flex;
    flex-wrap: wrap-reverse;
  }
  .changeTheOrder .caroSection, .changeTheOrder .filterBox {
    width: 100%;
  }
  .filterBox {
    margin-bottom: 0;
  }
  .filterBox form {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  .filterBox form .inputBox {
    width: calc(50% - 10px);
  }
  .filterBox form .inputBox label {
    display: block;
  }
  .subPageAside.offerCategories {
    display: none;
  }
  .showOnMobile {
    display: block;
  }
  .filterWrapper {
    margin-bottom: 0;
    flex-wrap: wrap;
  }
  .filterWrapper .cityAndRadiusBox {
    width: 100%;
    margin-bottom: 20px;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .filterWrapper .cityAndRadiusBox .inputBox {
    width: calc(50% - 10px) !important;
    margin-right: 0px;
  }
  .filterWrapper .filterBox {
    width: 100%;
  }
  .filterWrapper .filterBox form {
    width: 100%;
  }
  .partnerMenu {
    display: none;
  }
  .countryItem {
    width: calc(50% - 30px);
  }
  body.countrySelectPage .mainNavBox {
    display: none;
  }
  body.countrySelectPage .pageContent.subPageContent {
    padding: 40px 0 10px;
  }
  body.countrySelectPage .mainHeader {
    padding-bottom: 10px;
  }
}

@media (max-width: 499px) {
  .subPageTitle img {
    display: none;
  }
  .countryBox {
    width: 100%;
  }
  .countryItem {
    width: 100%;
    margin-right: 0;
  }
  .countryItem:last-child {
    margin-bottom: 0;
  }
  body.countrySelectPage .pageContent.subPageContent {
    padding: 30px 0;
  }
  .socialLoginBox {
    display: block;
  }
  .socialLoginBox .btn {
    width: 100%;
  }
  .socialLoginBox .btn:first-child {
    margin-bottom: 10px;
  }
  .inputRow {
    display: block;
  }
  .inputRow .inputBox {
    margin-bottom: 20px;
  }
  #partnerRegForm fieldset {
    margin-bottom: 20px;
  }
  fieldset legend {
    font-size: 16px;
  }
  .subPageAside .articlesWrapper .articlesBox {
    width: 100%;
    flex-wrap: wrap;
  }
  .subPageAside .articlesWrapper .articlesBox .articleItem {
    width: 100%;
    margin-right: 0;
  }
  .articleItem {
    width: 100%;
  }
  .articleItem.bigItem {
    width: 100%;
  }
  .pageContent {
    padding-bottom: 30px;
  }
  .offersWrapper {
    width: calc(100% + 40px);
    margin-left: -20px;
  }
  .offersWrapper .offerItem {
    border-radius: 0;
  }
  .offersWrapper .offerItem .imgBox {
    border-radius: 0;
  }
  .offersAndArticlesBox .offersWrapper {
    width: calc(100% + 40px);
  }
  .offersBox {
    width: 100%;
  }
  .offerItem {
    width: 100%;
    margin-right: 0px;
  }
  .offersWrapper .offerItem {
    margin-bottom: 20px;
  }
  .listView .offerItem {
    width: 100%;
  }
  .offersAndArticlesBox .articlesWrapper .articlesBox {
    width: 100%;
    flex-wrap: wrap;
  }
  .offersAndArticlesBox .articlesWrapper .articlesBox .articleItem {
    width: 100%;
    margin-right: 0px;
  }
  .footerBoxes > div {
    width: 100%;
    margin-top: 5px;
  }
  .footerBoxes > div:first-child {
    margin-top: 0;
  }
  .footerNav li {
    text-align: center;
  }
  #profileForm fieldset {
    margin-bottom: 20px;
  }
  .inputRow .btn {
    width: 100%;
    margin-bottom: 10px;
  }
  .inputRow .btn:last-child {
    margin-bottom: 0px;
  }
  .basketTable td, .vouchersTable td {
    padding: 20px 0;
  }
  .basketTable tr:first-child td, .vouchersTable tr:first-child td {
    padding-right: 0;
  }
  .tableMobileInfo {
    margin-bottom: 0;
  }
  .tableMobileInfo li {
    margin-bottom: 5px;
  }
  .tableMobileInfo li:last-child {
    margin-bottom: 0;
  }
  .tableMobileInfo span {
    font-size: 10px;
    line-height: 12px;
  }
  .basketTable .offerItem, .vouchersTable .offerItem {
    flex-wrap: wrap;
  }
  .basketTable .offerItem .imgBox, .vouchersTable .offerItem .imgBox {
    width: 100%;
  }
  .basketTable .offerItem .textBox, .vouchersTable .offerItem .textBox {
    width: 100%;
    padding-top: 10px;
    padding-left: 0;
  }
  .vouchersBox {
    margin-bottom: 30px;
  }
  .basketNav .btn {
    width: 100%;
    margin-bottom: 10px;
  }
  .basketNav .btn:last-child {
    margin-bottom: 0;
  }
  .voucherCheckBox {
    margin: 0;
  }
  .voucherCheckBox > p {
    text-align: left;
  }
  .voucherCheckBox .inputBox input {
    font-size: 24px;
  }
  .basketNav {
    flex-wrap: wrap;
  }
  .removeTd {
    padding-right: 15px !important;
  }
  .removeBasketItem {
    margin-top: 0;
  }
  .giftWrapper {
    margin-top: 10px;
  }
  .summaryBox.noBorder {
    margin-top: 20px;
  }
  .couponBox, .couponBox form {
    flex-wrap: wrap;
  }
  .couponBox .inputBox, .couponBox form .inputBox {
    width: 100%;
    margin-right: 0;
    margin-bottom: 10px;
  }
  .couponBox .btn, .couponBox form .btn {
    width: 100%;
  }
  .summaryList li span {
    margin-left: 20px;
  }
  .basketLoginBox .btn {
    width: 100%;
  }
  .btnWrap .btn {
    width: 100%;
    margin-bottom: 10px;
  }
  .btnWrap .btn:last-child {
    margin-bottom: 0;
  }
  .filterWrapper {
    margin-bottom: 20px;
  }
  .filterWrapper .cityAndRadiusBox {
    width: 100%;
    margin-bottom: 0px;
  }
  .filterWrapper .cityAndRadiusBox .inputBox {
    width: 100% !important;
    margin-bottom: 20px;
  }
  .filterWrapper .filterBox {
    width: 100%;
  }
  .filterWrapper .filterBox form {
    width: 100%;
  }
  .filterBox {
    margin-bottom: 20px;
  }
  .filterBox form {
    flex-wrap: wrap;
  }
  .filterBox form .inputBox {
    width: 100%;
  }
  .offerMainInfos .offerPriceBox {
    margin-top: 30px;
  }
  .offerMainInfos .offerPriceBox .newPrice {
    margin-bottom: 5px;
    font-size: 24px;
    line-height: 28px;
  }
  .offerMainInfos .offerPriceBox .oldPrice {
    font-size: 16px;
    line-height: 20px;
  }
  .offerTopBox {
    margin-bottom: 30px;
  }
  .offerDetailsBox {
    margin-bottom: 20px;
  }
  #mapBox {
    height: 250px;
    margin-top: 20px;
  }
  .printItBtn {
    margin-top: 20px;
  }
  .ourTeam {
    width: 100%;
    margin-top: 40px;
  }
  .ourTeam .teamMember {
    width: 100%;
    margin: 0 0 30px 0;
  }
  .ourTeam .teamMember:last-child {
    margin-bottom: 0;
  }
}
